<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		{% if settings.brand_favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.brand_favicon | image_url: width: 32, height: 32 }}">
		{%- endif %}
		{% unless settings.typography_heading_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless %}
		<title>
			{{ page_title }}
			{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
			{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
			{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
		</title>
		{% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
		{% assign og_title = page_title | default: shop.name %}
		{% assign og_url = canonical_url | default: request.origin %}
		{% assign og_type = 'website' %}
		{% assign og_description = page_description | default: shop.description | default: shop.name %}

		{% if request.page_type == 'product' -%}
			{%- assign og_type = 'product' -%}
		{%- elsif request.page_type == 'article' -%}
			{%- assign og_type = 'article' -%}
		{%- elsif request.page_type == 'password' -%}
			{%- assign og_url = request.origin -%}
		{%- endif %}

		<meta property="og:site_name" content="{{ shop.name }}">
		<meta property="og:url" content="{{ og_url }}">
		<meta property="og:title" content="{{ og_title | escape }}">
		<meta property="og:type" content="{{ og_type }}">
		<meta property="og:description" content="{{ og_description | escape }}">

		{% if page_image -%}
			<meta property="og:image" content="http:{{ page_image | image_url }}">
			<meta property="og:image:secure_url" content="https:{{ page_image | image_url }}">
			<meta property="og:image:width" content="{{ page_image.width }}">
			<meta property="og:image:height" content="{{ page_image.height }}">
		{%- endif %}

		{% if request.page_type == 'product' -%}
			<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
			<meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
		{%- endif %}

		{% if settings.social_media_x != blank -%}
			<meta name="twitter:site" content="{{ settings.social_media_x | split: 'twitter.com/' | last | prepend: '@' }}">
		{%- endif %}

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{ og_title | escape }}">
		<meta name="twitter:description" content="{{ og_description | escape }}">
		<script type="importmap">
			{
				"imports": {
					"component": "{{ 'lib-component.js' | asset_url }}",
					"utils": "{{ 'lib-utils.js' | asset_url }}",
					"pubsub": "{{ 'lib-pubsub.js' | asset_url }}",
					"cache": "{{ 'lib-cache.js' | asset_url }}",
					"format-money": "{{ 'lib-format-money.js' | asset_url }}",
					"constants": "{{ 'lib-constants.js' | asset_url }}"
				}
			}
		</script>
		{{ content_for_header }}
		{{ 'lib-core.css' | asset_url | stylesheet_tag }}
		{% style %}
			{% for scheme in settings.color_schemes %}
			.color-scheme-{{ scheme.id }} {


			        --color-scheme-text: {{ scheme.settings.text }};
			--color-scheme-text-a-06: {{ scheme.settings.text | hex_to_rgba: 0.6 }};
			--color-scheme-background: {{ scheme.settings.background }};
			--color-scheme-background-gradient: {% if scheme.settings.background_gradient != blank %}{{ scheme.settings.background_gradient }}{% else %}{{ scheme.settings.background }}{% endif %};
			--color-scheme-background-l-10: {{ scheme.settings.background | color_lighten: 10 }};
			--color-scheme-background-a-02: {{ scheme.settings.background | hex_to_rgba: 0.2 }};
			--color-scheme-background-a-06: {{ scheme.settings.background | hex_to_rgba: 0.6 }};
			--color-scheme-background-a-08: {{ scheme.settings.background | hex_to_rgba: 0.8 }};
			--color-scheme-border: {{ scheme.settings.text | hex_to_rgba: 0.2 }};
			--color-scheme-link: {{ scheme.settings.text }};
			--color-scheme-link-a-06: {{ scheme.settings.text | hex_to_rgba: 0.6 }};
			--color-scheme-button-text: {{ scheme.settings.button_text }};
			--color-scheme-button-background: {{ scheme.settings.button_background }};
			--color-scheme-button-background-a-02: {{ scheme.settings.button_background | hex_to_rgba: 0.2 }};
			--color-scheme-button-background-a-06: {{ scheme.settings.button_background | hex_to_rgba: 0.6 }};
			--color-scheme-button-background-a-09: {{ scheme.settings.button_background | hex_to_rgba: 0.9 }};
			--color-scheme-button-border: {{ scheme.settings.button_text }};
			--color-scheme-placeholder-fill: {{ scheme.settings.text | hex_to_rgba: 0.7 }};
			--color-scheme-placeholder-bg: {% if scheme.settings.background.lightness >= 80 %}{{ scheme.settings.background | color_darken: 10 }}{% else %}{{ scheme.settings.background | color_lighten: 10 }}{% endif %};
			--color-scheme-placeholder-bg-fill: {% if scheme.settings.background.lightness >= 80 %}{{ scheme.settings.background | color_darken: 20 }}{% else %}{{ scheme.settings.background | color_lighten: 20 }}{% endif %};
			    }
			{% endfor %}

			            :root {
			                --glob-text-scale-xs: 0.79;
			--glob-text-scale-sm: 0.889;
			--glob-text-scale-md: 1;
			--glob-text-scale-h-6: 1;
			--glob-text-scale-lg: 1.266;
			--glob-text-scale-h-5: 1.424;
			--glob-text-scale-xl: 1.602;
			--glob-text-scale-h-4: 1.802;
			--glob-text-scale-h-3: 2.281;
			--glob-text-scale-h-2: 2.887;
			--glob-text-scale-h-1: 3.653;
			--glob-text-scale-d-3: 5.202;
			--glob-text-scale-d-2: 6.583;
			--glob-text-scale-d-1: 7.406;
			--glob-heading-font: {{ settings.typography_heading_font.family }}, {{ settings.typography_heading_font.fallback_families }};
			--glob-heading-font-weight: {{ settings.typography_heading_font.weight }};
			--glob-heading-transform: {% if settings.typography_heading_capitalize %}uppercase{% else %}normal{% endif %};
			--glob-heading-scale: {% if settings.typography_heading_size == 'small' %}0.8{% elsif settings.typography_heading_size == 'large' %}1.2{% else %}1{% endif %};
			--glob-heading-letter-spacing: {% if settings.typography_heading_letter_spacing == 'narrow' %}-0.8{% elsif settings.typography_heading_letter_spacing == 'wide' %}0.8{% elsif settings.typography_heading_letter_spacing == 'x-wide' %}1.5{% else %}0{% endif %};
			--glob-subheading-letter-spacing: {% if settings.typography_heading_letter_spacing == 'narrow' %}-0.8{% elsif settings.typography_heading_letter_spacing == 'wide' %}0.8{% elsif settings.typography_heading_letter_spacing == 'x-wide' %}1.5{% else %}0{% endif %};
			--glob-subheading-font: {{ settings.typography_body_font.family }};
			--glob-subheading-weight: 700;
			--glob-subheading-text-transform: {% if settings.typography_heading_capitalize %}uppercase{% else %}normal{% endif %};
			--glob-body-font: {{ settings.typography_body_font.family }}, {{ settings.typography_body_font.fallback_families }};
			--glob-body-font-weight: {{ settings.typography_body_font.weight }};
			--glob-body-font-scale: {{ settings.typography_body_font_scale }};
			--glob-button-text-transform: {% if settings.typography_buttons_capitalize %}uppercase{% else %}normal{% endif %};
			--glob-nav-font: {% if settings.typography_navigation_font == 'heading' %}{{ settings.typography_heading_font.family }}{% else %}{{ settings.typography_body_font.family }}{% endif %};
			--glob-nav-font-weight: {% if settings.typography_navigation_font == 'heading' %}{{ settings.typography_heading_font.weight }}{% else %}{{ settings.typography_body_font.weight }}{% endif %};
			--glob-nav-transform: {% if settings.typography_navigation_capitalize %}uppercase{% else %}normal{% endif %};
			--glob-nav-letter-spacing: {% if settings.typography_navigation_letter_spacing == 'narrow' %}-0.8{% elsif settings.typography_navigation_letter_spacing == 'wide' %}0.8{% elsif settings.typography_navigation_letter_spacing == 'x-wide' %}1.5{% else %}0{% endif %};
			--glob-product-card-title-scale: {% if settings.typography_heading_capitalize %}var(--glob-text-scale-sm){% else %}var(--glob-text-scale-md){% endif %};
			--glob-button-letter-spacing: {% if settings.typography_buttons_letter_spacing == 'narrow' %}-0.8{% elsif settings.typography_buttons_letter_spacing == 'wide' %}0.8{% elsif settings.typography_buttons_letter_spacing == 'x-wide' %}1.5{% else %}0{% endif %};
			--glob-button-font: {% if settings.typography_buttons_font == 'heading' %}{{ settings.typography_heading_font.family }}{% else %}{{ settings.typography_body_font.family }}{% endif %};
			--glob-button-weight: {% if settings.typography_buttons_font == 'heading' %}{{ settings.typography_heading_font.weight }}{% else %}{{ settings.typography_body_font.weight }}{% endif %};
			--glob-button-pill: {% if settings.appearance_pill_buttons %}1{% else %}0{% endif %};
			--glob-button-radius: {% if settings.appearance_pill_buttons %}99rem{% else %}0{% endif %};
			--glob-svg-arrow-down: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='currentColor' stroke-width='2' d='m2 5 6 6 6-6'></path></svg>");
			--glob-heading-animation: {{ settings.appearance_heading_animation | prepend: 'heading-' }};
			--glob-page-scrollbar-visibility: {% if settings.appearance_hide_scrollbar %}none{% else %}auto{% endif %};
			--glob-header-height: 0px;
			--glob-scrollbar-offset: 0px;
			            }


			        {{ settings.typography_heading_font | font_face: font_display: 'swap' }}{{ settings.typography_body_font | font_face: font_display: 'swap' }}{{ settings.typography_body_font | font_modify: 'weight', 'bold' | font_face: font_display: 'swap' }}{% if settings.brand_logo == blank %}{{ settings.brand_text_logo_font | font_face }}{% endif %}
		{% endstyle %}

		{% unless settings.typography_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.typography_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless %}
		{% unless settings.typography_heading_font.system? -%}
			<link
				rel="preload"
				as="font"
				href="{{ settings.typography_heading_font | font_url }}"
				type="font/woff2"
				crossorigin
			>
		{%- endunless %}
		{% if settings.brand_logo == blank and settings.brand_text_logo != blank -%}
			{%- unless settings.brand_text_logo_font.system? -%}
				<link
					rel="preload"
					as="font"
					href="{{ settings.brand_text_logo_font | font_url }}"
					type="font/woff2"
					crossorigin
				>
			{%- endunless -%}
		{%- endif %}

		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<defs>
			    <symbol id="svg-icon-arrow-down" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><polyline points="208 96 128 176 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
			        </symbol><symbol id="svg-icon-arrow-left" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><polyline points="160 208 80 128 160 48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
			        </symbol><symbol id="svg-icon-arrow-right" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
			        </symbol><symbol id="svg-icon-arrows-out-horizontal" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
			        </symbol><symbol id="svg-icon-box-3d" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><polyline points="32.7 76.92 128 129.08 223.3 76.92" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><path d="M131.84,25l88,48.18a8,8,0,0,1,4.16,7v95.64a8,8,0,0,1-4.16,7l-88,48.18a8,8,0,0,1-7.68,0l-88-48.18a8,8,0,0,1-4.16-7V80.18a8,8,0,0,1,4.16-7l88-48.18A8,8,0,0,1,131.84,25Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="128" y1="129.09" x2="128" y2="232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-burger" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="40" y1="64" x2="216" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="40" y1="192" x2="216" y2="192" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-check" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><polyline points="40 144 96 200 224 72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
			        </symbol><symbol id="svg-icon-close" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-filters" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><circle cx="104" cy="80" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><circle cx="168" cy="176" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><line x1="128" y1="80" x2="216" y2="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="40" y1="80" x2="80" y2="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="192" y1="176" x2="216" y2="176" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="40" y1="176" x2="144" y2="176" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-lock" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><rect x="40" y="88" width="176" height="128" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><path d="M88,88V56a40,40,0,0,1,80,0V88" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
			        </symbol><symbol id="svg-icon-play" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><path d="M240,128a15.74,15.74,0,0,1-7.6,13.51L88.32,229.65a16,16,0,0,1-16.2.3A15.86,15.86,0,0,1,64,216.13V39.87a15.86,15.86,0,0,1,8.12-13.82,16,16,0,0,1,16.2.3L232.4,114.49A15.74,15.74,0,0,1,240,128Z"></path>
			        </symbol><symbol id="svg-icon-plus" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-search" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><circle cx="112" cy="112" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><line x1="168.57" y1="168.57" x2="224" y2="224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-share" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><path d="M176,104h24a8,8,0,0,1,8,8v96a8,8,0,0,1-8,8H56a8,8,0,0,1-8-8V112a8,8,0,0,1,8-8H80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><polyline points="88 64 128 24 168 64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="128" y1="24" x2="128" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol><symbol id="svg-icon-shopping-bag" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><rect x="32" y="48" width="192" height="160" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><path d="M168,88a40,40,0,0,1-80,0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
			        </symbol><symbol id="svg-icon-shopping-cart" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><circle fill="currentColor" cx="88" cy="216" r="16"></circle><circle fill="currentColor" cx="192" cy="216" r="16"></circle><path d="M16,32H40L76.75,164.28A16,16,0,0,0,92.16,176H191a16,16,0,0,0,15.42-11.72L232,72H51.11" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
			        </symbol><symbol id="svg-icon-social-facebook" viewBox="0 0 24 24">
			            <title>Facebook</title><path d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"></path>
			        </symbol><symbol id="svg-icon-social-instagram" viewBox="0 0 24 24">
			            <title>Instagram</title><path d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077"></path>
			        </symbol><symbol id="svg-icon-social-pinterest" viewBox="0 0 24 24">
			            <title>Pinterest</title><path d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"></path>
			        </symbol><symbol id="svg-icon-social-snapchat" viewBox="0 0 24 24">
			            <title>Snapchat</title><path d="M12.206.793c.99 0 4.347.276 5.93 3.821.529 1.193.403 3.219.299 4.847l-.003.06c-.012.18-.022.345-.03.51.075.045.203.09.401.09.3-.016.659-.12 1.033-.301.165-.088.344-.104.464-.104.182 0 .359.029.509.09.45.149.734.479.734.838.015.449-.39.839-1.213 1.168-.089.029-.209.075-.344.119-.45.135-1.139.36-1.333.81-.09.224-.061.524.12.868l.015.015c.06.136 1.526 3.475 4.791 4.014.255.044.435.27.42.509 0 .075-.015.149-.045.225-.24.569-1.273.988-3.146 1.271-.059.091-.12.375-.164.57-.029.179-.074.36-.134.553-.076.271-.27.405-.555.405h-.03c-.135 0-.313-.031-.538-.074-.36-.075-.765-.135-1.273-.135-.3 0-.599.015-.913.074-.6.104-1.123.464-1.723.884-.853.599-1.826 1.288-3.294 1.288-.06 0-.119-.015-.18-.015h-.149c-1.468 0-2.427-.675-3.279-1.288-.599-.42-1.107-.779-1.707-.884-.314-.045-.629-.074-.928-.074-.54 0-.958.089-1.272.149-.211.043-.391.074-.54.074-.374 0-.523-.224-.583-.42-.061-.192-.09-.389-.135-.567-.046-.181-.105-.494-.166-.57-1.918-.222-2.95-.642-3.189-1.226-.031-.063-.052-.15-.055-.225-.015-.243.165-.465.42-.509 3.264-.54 4.73-3.879 4.791-4.02l.016-.029c.18-.345.224-.645.119-.869-.195-.434-.884-.658-1.332-.809-.121-.029-.24-.074-.346-.119-1.107-.435-1.257-.93-1.197-1.273.09-.479.674-.793 1.168-.793.146 0 .27.029.383.074.42.194.789.3 1.104.3.234 0 .384-.06.465-.105l-.046-.569c-.098-1.626-.225-3.651.307-4.837C7.392 1.077 10.739.807 11.727.807l.419-.015h.06z"></path>
			        </symbol><symbol id="svg-icon-social-tiktok" viewBox="0 0 24 24">
			            <title>TikTok</title><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"></path>
			        </symbol><symbol id="svg-icon-social-tumblr" viewBox="0 0 24 24">
			            <title>Tumblr</title><path d="M14.563 24c-5.093 0-7.031-3.756-7.031-6.411V9.747H5.116V6.648c3.63-1.313 4.512-4.596 4.71-6.469C9.84.051 9.941 0 9.999 0h3.517v6.114h4.801v3.633h-4.82v7.47c.016 1.001.375 2.371 2.207 2.371h.09c.631-.02 1.486-.205 1.936-.419l1.156 3.425c-.436.636-2.4 1.374-4.156 1.404h-.178l.011.002z"></path>
			        </symbol><symbol id="svg-icon-social-vimeo" viewBox="0 0 24 24">
			            <title>Vimeo</title><path d="M23.9765 6.4168c-.105 2.338-1.739 5.5429-4.894 9.6088-3.2679 4.247-6.0258 6.3699-8.2898 6.3699-1.409 0-2.578-1.294-3.553-3.881l-1.9179-7.1138c-.719-2.584-1.488-3.878-2.312-3.878-.179 0-.806.378-1.8809 1.132l-1.129-1.457a315.06 315.06 0 003.501-3.1279c1.579-1.368 2.765-2.085 3.5539-2.159 1.867-.18 3.016 1.1 3.447 3.838.465 2.953.789 4.789.971 5.5069.5389 2.45 1.1309 3.674 1.7759 3.674.502 0 1.256-.796 2.265-2.385 1.004-1.589 1.54-2.797 1.612-3.628.144-1.371-.395-2.061-1.614-2.061-.574 0-1.167.121-1.777.391 1.186-3.8679 3.434-5.7568 6.7619-5.6368 2.4729.06 3.6279 1.664 3.4929 4.7969z"></path>
			        </symbol><symbol id="svg-icon-social-x" viewBox="0 0 24 24">
			            <title>X</title><path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"></path>
			        </symbol><symbol id="svg-icon-social-youtube" viewBox="0 0 24 24">
			            <title>YouTube</title><path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"></path>
			        </symbol><symbol id="svg-icon-user" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><circle cx="128" cy="96" r="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><path d="M32,216c19.37-33.47,54.55-56,96-56s76.63,22.53,96,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
			        </symbol><symbol id="svg-icon-x" viewBox="0 0 256 256">
			            <rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			        </symbol>
			</defs>
		</svg>
	</head>

	<body class="color-scheme-main" data-money-format="{{ shop.money_format }}">
		{% if request.design_mode %}
			<script>
				window.Editor = class Editor {
					constructor(sectionId) {
						this.sectionId = sectionId;
					}
					render() {
						// if (typeof this.init === 'function') {
						//     this.init();
						// }
						this._handleEvents();
					}
					_handleEvents() {
						Object.entries(this.events).map(([target, event]) => {
							Object.entries(event).map(([eventName, callback]) => {
								this._setListener(target, eventName, callback);
							});
						});
					}
					_setListener(target, eventName, callback) {
						document.addEventListener(`shopify:${target}:${eventName}`, (e) => {
							if (e.detail.sectionId === this.sectionId) {
								callback.call(this, e);
							}
						});
					}

					// get sectionSettings() {
					//     return this._getSettings(this.settingsSelector)
					// }
					// get blocksCount() {
					//     return this._getSettings(this.blocksCountSelector)
					// }

					// _getSettings(selector) {
					//     try {
					//         if (!selector) throw new Error(`No settings selector for ${this.sectionId}`);
					//         const $settings = document.querySelector(selector);
					//         if (!$settings) throw new Error(`Settings element ${selector} for ${this.sectionId} not found`);
					//         return JSON.parse($settings.innerText)
					//     } catch (e) {
					//         console.error(e.message);
					//     }
					// }
				};
			</script>
		{% endif %}
		{% sections 'overlay-group' %}
		<x-cart-provider
			class="cart-provider"
			change-url="{{ routes.cart_change_url }}"
			add-url="{{ routes.cart_add_url }}"
			update-url="{{ routes.cart_update_url }}"
			cart-url="{{ routes.cart_url }}"
			{% if settings.cart_type == 'drawer' %}
				drawer
			{% endif %}
			{% if settings.cart_notification %}
				notification
			{% endif %}
			{% if request.page_type == 'cart' %}
				cart-page
			{% endif %}
		>
			{% sections 'header-group' %}
			<main id="MainPageContent">
				{{ content_for_layout }}
			</main>
			{% sections 'footer-group' %}
		</x-cart-provider>
		<script type="module" src="{{ 'component-cart-provider.js' | asset_url }}"></script>
		<x-toast class="toast" popover="manual">
			<div class="toast__inner">
				<span class="toast__content" data-toast-element="content"></span>
				<label class="toast__close">
					<input type="checkbox" hidden form="">
					<svg>
						<use  xlink:href="#svg-icon-x"></use>
					</svg>
				</label>
			</div>
		</x-toast>
		{% unless settings.appearance_hide_scrollbar %}
			<script>
				window.addEventListener('load', () => {
					const scrollbarWidth = Math.ceil(window.innerWidth - document.body.offsetWidth);
					document.documentElement.style.setProperty(`--glob-scrollbar-offset`, `${scrollbarWidth}px`);
				});
			</script>
		{% endunless %}

		{% if request.design_mode %}
			<script>
				window.addEventListener('load', () => {
					const mainTemplateWrapper = document.getElementById('MainPageContent');
					const target = mainTemplateWrapper?.firstElementChild?.querySelector('.scroll-animation--use--clip-in');

					if (target) {
						target.classList.replace('scroll-animation--use--clip-in', 'scroll-animation--use--clip-out');
					}
				});
			</script>
		{% endif %}
		{% if settings.appearance_enable_smooth_scroll %}
			<script src="{{'lib-lenis.js' | asset_url }}" defer></script>
		{% endif %}
		<script src="{{'global-components.js' | asset_url }}" type="module"></script>
	</body>
</html>
