{% assign has_image_before = false %}
{% assign has_image_after = false %}

{% for block in section.blocks %}
  {% if block.type == 'beforeImage' and block.settings.image != blank %}
    {% assign has_image_before = true %}
  {% endif %}

  {% if block.type == 'afterImage' and block.settings.image != blank %}
    {% assign has_image_after = true %}



{% assign before = section.blocks | where: 'type', 'beforeImage' | first %}
{% assign after  = section.blocks | where: 'type', 'afterImage'  | first %}

{% if before.settings.image != blank and after.settings.image != blank %}



{% if section.settings.section_center_heading -%}
	{%- assign heading_align = 'center' -%}
{%- else -%}
	{%- assign heading_align = 'left' -%}
{%- endif %}
<div class="section-wrapper section-wrapper--y-offset--padding color-scheme-{{ section.settings.section_color_scheme.id }} {% if section.settings.section_center_heading %}section-wrapper--center-align{% endif %}">
	{% if section.settings.section_heading != blank or section.settings.section_description != blank %}
		<div class="container section-wrapper__header">
			<div class="content content--align--{{ heading_align }}">
				{% if section.settings.section_heading != blank %}
					<div class="content__heading">
						{% capture heading_capture %}
							<h2 class="heading heading--size--{{ section.settings.section_heading_size }}">
								{{ section.settings.section_heading }}
							</h2>
						{% endcapture %}
						{% if section.settings.section_heading_animation %}
							<div
								class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--{{ heading_align }} {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
								style=""
							>
								{{ heading_capture }}
							</div>
						{% else -%}
							{{- heading_capture -}}
						{%- endif %}
					</div>
				{% endif -%}
				{%- if section.settings.section_description != blank %}
					<div class="content__text">
						<p class="text text--size--md">{{ section.settings.section_description }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="container section-wrapper__body">
		{% if section.blocks.size == 2 -%}
			<x-compared-images class="compared-images">
				{% for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'beforeImage' -%}
							{%- assign text_position = section.settings.text_position | append: '-left' -%}
						{%- when 'afterImage' -%}
							{%- assign text_position = section.settings.text_position | append: '-right' -%}
					{%- endcase -%}
					{%- capture capture_hero %}
						<div
							class="banner banner--size--{{ section.settings.image_size }} color-scheme-{{ block.settings.color_scheme.id }} banner--bg"
							style="--banner-focal: {{ block.settings.image.presentation.focal_point }};"
						>
							{% if block.settings.image != blank %}
								<picture class="banner__image">
									<source
										srcset="
											{% if block.settings.image.width >= 375 %}{{ block.settings.image | image_url: width: 375 }} 375w,{% endif %}
											{% if block.settings.image.width >= 550 %}{{ block.settings.image | image_url: width: 550 }} 550w,{% endif %}
											{% if block.settings.image.width >= 750 %}{{ block.settings.image | image_url: width: 750 }} 750w,{% endif %}
											{% if block.settings.image.width >= 1100 %}{{ block.settings.image | image_url: width: 1100 }} 1100w,{% endif %}
											{% if block.settings.image.width >= 1500 %}{{ block.settings.image | image_url: width: 1500 }} 1500w,{% endif %}
											{% if block.settings.image.width >= 1780 %}{{ block.settings.image | image_url: width: 1780 }} 1780w,{% endif %}
											{% if block.settings.image.width >= 2000 %}{{ block.settings.image | image_url: width: 2000 }} 2000w,{% endif %}
											{% if block.settings.image.width >= 3000 %}{{ block.settings.image | image_url: width: 3000 }} 3000w,{% endif %}
											{% if block.settings.image.width >= 3840 %}{{ block.settings.image | image_url: width: 3840 }} 3840w,{% endif %}
											{{ block.settings.image | image_url }} {{ block.settings.image.width }}w
										"
										sizes="100vw"
									>

									<img
										src="{{ block.settings.image | image_url }}"
										alt="{{ block.settings.image.alt | escape }}"
										width="{{ block.settings.image.width }}"
										height="{{ block.settings.image.height }}"
										loading="lazy"
										data-img-loading
										onload="this.removeAttribute(&#34;data-img-loading&#34;)"
									>
								</picture>
							{%- endif %}

							{% unless block.settings.image %}
								{{
									forloop.index0
									| modulo: 2
									| plus: 1
									| prepend: '-'
									| prepend: 'lifestyle'
									| placeholder_svg_tag: 'banner__placeholder'
								-}}
							{%- endunless %}

							<div class="banner__content">
								<div
									class="placer placer--position--{{ text_position }} placer--container placer--offset--x-large"
									style=""
								>
									<div class="container placer__container">
										<div class="placer__target">
											<div class="content content--compact content--spacing--lg content--position-align--{{ text_position }} color-scheme-{{ block.settings.color_scheme.id }}">
												{% if block.settings.subheading_text != blank %}
													<div class="content__subheading">
														<p class="subheading">
															{{ block.settings.subheading_text }}
														</p>
													</div>
												{% endif -%}
												{%- if block.settings.heading_text != blank %}
													<div class="content__heading">
														<h2 class="heading heading--size--h2">{{ block.settings.heading_text }}</h2>
													</div>
												{% endif -%}
												{%- if block.settings.text_content != blank %}
													<div class="content__text">
														<p class="text text--size--md">{{ block.settings.text_content }}</p>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endcapture -%}
					{%- case block.type -%}
						{%- when 'beforeImage' %}
							<div class="compared-images__before">
								{{ capture_hero }}
							</div>
						{% when 'afterImage' %}
							<div class="compared-images__after">
								{{ capture_hero }}
							</div>
					{% endcase -%}
				{%- endfor %}

				<div class="compared-images__cursor">
					<input
						class="compared-images__cursor-range"
						type="range"
						min="0"
						max="100"
						step="0.1"
						data-compared-images-element="range"
					>
					<span class="compared-images__cursor-separator">
						<span class="compared-images__cursor-separator-thumb">
							<svg>
								<use  xlink:href="#svg-icon-arrows-out-horizontal"></use>
							</svg>
						</span>
					</span>
				</div>
			</x-compared-images>
		{%- endif %}
		<script type="module" src="{{ 'component-compared-images.js' | asset_url }}"></script>
	</div>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% schema %}
	{
		"name": "Compared images",
		"class": "compared-images-section",
		"presets": [
			{
				"name": "Compared images",
				"blocks": [
					{
						"type": "beforeImage"
					},
					{
						"type": "afterImage"
					}
				],
				"category": "Banners"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "custom.overlay"]
		},
		"settings": [
			{
				"type": "text",
				"id": "section_heading",
				"label": "Heading",
				"default": "Before/after image"
			},
			{
				"type": "select",
				"id": "section_heading_size",
				"label": "Heading size",
				"options": [
					{
						"value": "h2",
						"label": "Small"
					},
					{
						"value": "h1",
						"label": "Medium"
					},
					{
						"value": "d3",
						"label": "Large"
					}
				],
				"default": "h1"
			},
			{
				"type": "checkbox",
				"id": "section_heading_animation",
				"label": "Use heading animation",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "section_center_heading",
				"label": "Center heading",
				"default": true
			},
			{
				"type": "inline_richtext",
				"id": "section_description",
				"label": "Text"
			},
			{
				"type": "color_scheme",
				"id": "section_color_scheme",
				"label": "Color scheme",
				"default": "main"
			},
			{
				"type": "select",
				"id": "image_size",
				"label": "Image size",
				"options": [
					{
						"value": "auto",
						"label": "Original"
					},
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					},
					{
						"value": "screen",
						"label": "Full screen"
					}
				],
				"default": "medium"
			},
			{
				"type": "select",
				"id": "text_position",
				"label": "Text position",
				"options": [
					{
						"value": "top",
						"label": "Top"
					},
					{
						"value": "middle",
						"label": "Center"
					},
					{
						"value": "bottom",
						"label": "Bottom"
					}
				],
				"default": "bottom"
			}
		],
		"blocks": [
			{
				"name": "Before image",
				"type": "beforeImage",
				"limit": 1,
				"settings": [
					{
						"type": "header",
						"content": "Image"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Before image"
					},
					{
						"type": "header",
						"content": "Content"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Before"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading",
						"default": "Subheading"
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "alt"
					}
				]
			},
			{
				"name": "After image",
				"type": "afterImage",
				"limit": 1,
				"settings": [
					{
						"type": "header",
						"content": "Image"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "After image"
					},
					{
						"type": "header",
						"content": "Content"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "After"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading",
						"default": "Subheading"
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "invert"
					}
				]
			}
		]
	}
{% endschema %}
