{% style %}
	.faq-video-background-section__container {
		width: min(100%, 38rem);
		margin-inline: auto;
	}
	.faq-video-background-section__content {
		position: relative;
		z-index: 2;
	}
{% endstyle %}

{%- if section.settings.section_color_scheme.id == section.settings.faq_color_scheme.id -%}
	{%- assign faq_x_space = false -%}
{%- else -%}
	{%- assign faq_x_space = true -%}
{%- endif %}

{% capture capture_faq_content -%}
	{%- for block in section.blocks %}
		<details class="collapse {% if faq_x_space %}collapse--x-spaced{% endif %}" style="--collapse-spacer: 1.5;">
			<summary class="collapse__header">
				<div class="collapse__header-inner">
					<h2 class="heading heading--size--h6">{{ block.settings.heading }}</h2>
				</div>
				<svg class="collapse__header-arrow">
					<use  xlink:href="#svg-icon-arrow-down"></use>
				</svg>
			</summary>
			<div class="collapse__content">
				<div class="rte rte--spaced">
					{% if block.settings.text != blank %}{{ block.settings.text }}{% endif -%}
					{%- if block.settings.page != null %}{{ block.settings.page.content }}{% endif %}
				</div>
			</div>
		</details>
	{% endfor -%}
{%- endcapture %}

<div class="section-wrapper section-wrapper--no-padding color-scheme-{{ section.settings.section_color_scheme.id }}">
	{% capture capture_banner %}
		<div
			class="banner banner--size--screen banner--bg"
			style="--banner-overlay: {{ section.settings.video_overlay | times: 0.01 }};"
		>
			<div class="banner__overlay"></div>

			{% if section.settings.background_video != blank -%}
				<x-bg-video class="bg-video">
					<video
						class="banner__video"
						loop
						muted
						autoplay
						playsinline
						preload="auto"
						width="{{ section.settings.background_video.sources.first.width }}"
						height="{{ section.settings.background_video.sources.first.height }}"
						data-bg-video-element="video"
					>
						{% for source in section.settings.background_video.sources %}
							<source src="{{ source.url }}" type="{{ source.mime_type }}">
						{% endfor %}
					</video>
				</x-bg-video>
				<script type="module" src="{{ 'component-bg-video.js' | asset_url }}"></script>
			{% endif %}
			
			{% if section.settings.background_video.preview_image != blank %}
				<picture class="banner__image">
					<source
						srcset="
							{% if section.settings.background_video.preview_image.width >= 375 %}{{ section.settings.background_video.preview_image | image_url: width: 375 }} 375w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 550 %}{{ section.settings.background_video.preview_image | image_url: width: 550 }} 550w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 750 %}{{ section.settings.background_video.preview_image | image_url: width: 750 }} 750w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 1100 %}{{ section.settings.background_video.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 1500 %}{{ section.settings.background_video.preview_image | image_url: width: 1500 }} 1500w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 1780 %}{{ section.settings.background_video.preview_image | image_url: width: 1780 }} 1780w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 2000 %}{{ section.settings.background_video.preview_image | image_url: width: 2000 }} 2000w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 3000 %}{{ section.settings.background_video.preview_image | image_url: width: 3000 }} 3000w,{% endif %}
							{% if section.settings.background_video.preview_image.width >= 3840 %}{{ section.settings.background_video.preview_image | image_url: width: 3840 }} 3840w,{% endif %}
							{{ section.settings.background_video.preview_image | image_url }} {{ section.settings.background_video.preview_image.width }}w
						"
						sizes="100vw"
					>

					<img
						src="{{ section.settings.background_video.preview_image | image_url }}"
						alt="{{ section.settings.background_video.preview_image.alt | escape }}"
						width="{{ section.settings.background_video.preview_image.width }}"
						height="{{ section.settings.background_video.preview_image.height }}"
						loading="lazy"
						data-img-loading
						onload="this.removeAttribute(&#34;data-img-loading&#34;)"
					>
				</picture>
			{%- endif %}

			{% if section.settings.background_video == blank and section.settings.background_video.preview_image == blank %}
				{{
					0
					| modulo: 2
					| plus: 1
					| prepend: '-'
					| prepend: 'lifestyle'
					| placeholder_svg_tag: 'banner__placeholder'
				-}}
			{%- endif %}

			<div class="banner__content">
				<div
					class="placer placer--position--{{ section.settings.content_position }} placer--container placer--offset--x-large faq-video-background-section__content"
					style=""
				>
					<div class="container placer__container">
						<div class="placer__target">
							{% if section.settings.section_heading != blank or section.settings.section_description != blank %}
								<div class="content content--align--center">
									{% if section.settings.section_heading != blank %}
										<div class="content__heading">
											{% capture heading_capture %}
												<h2 class="heading heading--size--{{ section.settings.section_heading_size }}">
													{{ section.settings.section_heading }}
												</h2>
											{% endcapture %}
											{% if section.settings.section_heading_animation %}
												<div
													class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--center {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
													style=""
												>
													{{ heading_capture }}
												</div>
											{% else -%}
												{{- heading_capture -}}
											{%- endif %}
										</div>
									{% endif -%}
									{%- if section.settings.section_description != blank %}
										<div class="content__text">
											<p class="text text--size--md">{{ section.settings.section_description }}</p>
										</div>
									{% endif %}
								</div>
							{% endif %}
							
							<div class="faq-video-background-section__container" style="padding-top: 2rem;">
								{% if faq_x_space %}
									<div class="color-scheme-{{ section.settings.faq_color_scheme.id }} color-scheme--use-color color-scheme--use-gradient">
										{{ capture_faq_content }}
									</div>
								{% else %}
									{{ capture_faq_content }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endcapture %}
	{{ capture_banner }}
</div>

{% schema %}
	{
		"name": "FAQ with video background",
		"class": "faq-video-background-section",
		"presets": [
			{
				"name": "FAQ with video background",
				"blocks": [
					{
						"type": "faq_item"
					},
					{
						"type": "faq_item"
					},
					{
						"type": "faq_item"
					},
					{
						"type": "faq_item"
					}
				],
				"category": "Store information"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "footer", "custom.overlay"]
		},
		"settings": [
			{
				"type": "header",
				"content": "Background Video"
			},
			{
				"type": "video",
				"id": "background_video",
				"label": "Background video",
				"info": "Video will play automatically in the background on full width"
			},
			{
				"type": "range",
				"id": "video_overlay",
				"label": "Video overlay opacity",
				"min": 0,
				"max": 100,
				"step": 1,
				"default": 40,
				"unit": "%",
				"info": "Add an overlay to improve text readability"
			},
			{
				"type": "select",
				"id": "content_position",
				"label": "Content position",
				"options": [
					{
						"value": "top-left",
						"label": "Top left"
					},
					{
						"value": "top-center",
						"label": "Top center"
					},
					{
						"value": "top-right",
						"label": "Top right"
					},
					{
						"value": "middle-left",
						"label": "Middle left"
					},
					{
						"value": "middle-center",
						"label": "Middle center"
					},
					{
						"value": "middle-right",
						"label": "Middle right"
					},
					{
						"value": "bottom-left",
						"label": "Bottom left"
					},
					{
						"value": "bottom-center",
						"label": "Bottom center"
					},
					{
						"value": "bottom-right",
						"label": "Bottom right"
					}
				],
				"default": "middle-center"
			},
			{
				"type": "header",
				"content": "Section Heading"
			},
			{
				"type": "text",
				"id": "section_heading",
				"label": "Heading",
				"default": "Frequently Asked Questions"
			},
			{
				"type": "select",
				"id": "section_heading_size",
				"label": "Heading size",
				"options": [
					{
						"value": "h2",
						"label": "Small"
					},
					{
						"value": "h1",
						"label": "Medium"
					},
					{
						"value": "d3",
						"label": "Large"
					}
				],
				"default": "h1"
			},
			{
				"type": "checkbox",
				"id": "section_heading_animation",
				"label": "Use heading animation",
				"default": true
			},
			{
				"type": "inline_richtext",
				"id": "section_description",
				"label": "Description"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color_scheme",
				"id": "section_color_scheme",
				"label": "Section color scheme",
				"default": "invert"
			},
			{
				"type": "color_scheme",
				"id": "faq_color_scheme",
				"label": "FAQ color scheme",
				"default": "main"
			}
		],
		"blocks": [
			{
				"name": "FAQ Item",
				"type": "faq_item",
				"settings": [
					{
						"type": "text",
						"id": "heading",
						"label": "Question",
						"default": "Question"
					},
					{
						"type": "richtext",
						"id": "text",
						"label": "Answer",
						"default": "<p>Answer to the question</p>"
					},
					{
						"type": "page",
						"id": "page",
						"label": "Content from page",
						"info": "Optional: Use content from a page instead of text above"
					}
				]
			}
		]
	}
{% endschema %}

