{% style %}
	.footer-section__grid {
		display: grid;
		gap: 2rem;
	}
	@media (min-width: 992px) {
		.footer-section__grid {
			grid-auto-flow: column;
		}
	}

	.footer-section__column--sm {
		--footer-max-col-width: 200px;
	}

	.footer-section__column--md {
		--footer-max-col-width: 300px;
	}

	.footer-section__column--lg {
		--footer-max-col-width: 400px;
	}

	@media (min-width: 992px) {
		.footer-section__column {
			max-width: var(--footer-max-col-width);
		}
	}

	.footer-section__white-logo {
		filter: brightness(0) invert(1);
	}

	.footer-section__heading {
		margin-bottom: 1rem;
	}

	.footer-section__social-list {
		margin-top: 1rem;
	}

	.footer-section__utility {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid var(--color-scheme-border);
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
	@media (max-width: 991px) {
		.footer-section__utility {
			flex-direction: column;
		}
	}
{% endstyle %}
<div
	class="section-wrapper section-wrapper--y-offset--padding color-scheme-{{ section.settings.color_scheme.id }}"
	id="footer-section-content"
>
	<div class="container section-wrapper__body">
		<div class="footer-section__grid">
			{% for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'menu' %}
						<div class="footer-section__column footer-section__column--sm" {{ block.shopify_attributes }}>
							{% if block.settings.heading != blank %}
								<h2 class="heading heading--size--h6 footer-section__heading">{{ block.settings.heading }}</h2>
							{% endif %}
							<div class="menu">
								<div style="--stack-spacing:0.7" class="stack stack--v">
									{% for link in block.settings.link_list.links -%}
										<a class="menu__link" href="{{ link.url }}">{{ link.title }}</a>
									{%- endfor %}
								</div>
							</div>
						</div>
					{% when 'text' %}
						<div class="footer-section__column footer-section__column--md" {{ block.shopify_attributes }}>
							{% if block.settings.heading != blank %}
								<h2 class="heading heading--size--h6 footer-section__heading">{{ block.settings.heading }}</h2>
							{% endif %}
							<div style="" class="stack stack--v">
								{% if block.settings.show_logo %}
									<a
										class="logo {% if block.settings.use_white_logo %}footer-section__white-logo{% endif %} {% if settings.brand_text_logo == blank and settings.brand_logo == null %}logo--shop-name{% endif %}"
										style="--logo-size: {{ settings.brand_logo_width }};"
										{% if request.page_type != 'password' %}
											href="{{shop.url}}"
										{% endif %}
									>
										{% if settings.brand_logo != null -%}
											{%- assign img_scale_1 = settings.brand_logo_width | times: 1 -%}
											{%- assign img_scale_2 = settings.brand_logo_width | times: 2 -%}
											{%- assign img_scale_3 = settings.brand_logo_width | times: 3 %}
											<picture class="logo__img">
												<source srcset="{{ settings.brand_logo | image_url: width: img_scale_1 }} 1x, {{ settings.brand_logo | image_url: width: img_scale_2 }} 2x, {{ settings.brand_logo | image_url: width: img_scale_3 }} 3x">

												<img
													src="{{ settings.brand_logo | image_url }}"
													alt="{{ settings.brand_logo.alt | escape }}"
													width="{{ settings.brand_logo.width }}"
													height="{{ settings.brand_logo.height }}"
													fetchpriority="high"
												>
											</picture>
										{%- else -%}
											{%- assign text_logo = settings.brand_text_logo | default: shop.name %}
											<h1
												class="logo__text"
												style="--logo-font-family: {{ settings.brand_text_logo_font.family | escape_once }};--logo-font-weight: {{ settings.brand_text_logo_font.weight }};--logo-font-style: {{ settings.brand_text_logo_font.style }};--logo-font-size: {{ settings.brand_text_logo_font_size }};--logo-letter-spacing: {{ settings.brand_text_logo_letter_spacing }};"
											>
												{{ text_logo }}
											</h1>
										{% endif %}
									</a>
								{%- endif %}
								<div class="rte">
									{{ block.settings.description }}
								</div>
								{% if block.settings.show_follow_on_shop %}{{ shop | login_button: action: 'follow' }}{% endif -%}
								{%- if block.settings.show_social_media %}{% render 'social-media-links', spacing: 1.25 %}{% endif %}
							</div>
						</div>
					{% when 'newsletter' %}
						<div class="footer-section__column footer-section__column--lg" {{ block.shopify_attributes }}>
							{% if block.settings.heading != blank %}
								<h2 class="heading heading--size--h6 footer-section__heading">{{ block.settings.heading }}</h2>
							{% endif %}
							<div style="" class="stack stack--v">
								<div class="newsletter newsletter--align--left">
									{% form 'customer', id: 'FooterNewsletterFormId' %}
										{% if form.posted_successfully? %}
											<div class="newsletter__feeback">
												<div class="badge badge--type--success">
													{{ 'newsletter.success' | t }}
												</div>
											</div>
										{% endif -%}
										{%- if form.errors %}
											<div class="newsletter__feeback">
												{% if form.errors %}
													<div class="form-errors">
														<h2 class="form-errors__heading" tabindex="-1" autofocus>
															<span class="screen-reader">
																{{ 'accessibility.error' | t }}
															</span>
															{{ 'templates.contact.form.error_heading' | t }}
														</h2>
														{{ form.errors | default_errors }}
													</div>
												{% endif %}
											</div>
										{% endif -%}
										<input type="hidden" name="contact[tags]" value="newsletter">
										<div class="newsletter__inner">
											<input
												class="newsletter__input"
												type="email"
												name="contact[email]"
												aria-required="true"
												autocorrect="off"
												autocapitalize="off"
												autocomplete="email"
												placeholder="{{ 'templates.contact.form.email' | t }}"
												aria-label="{{ 'templates.contact.form.email' | t }}"
												required
											>
											<button class="newsletter__submit" type="submit" aria-label="{{ 'newsletter.button_label' | t }}">
												<svg>
													<use  xlink:href="#svg-icon-arrow-right"></use>
												</svg>
											</button>
										</div>
									{% endform %}
								</div>
								{% if block.settings.show_social_media %}{% render 'social-media-links', spacing: 1.25 %}{% endif %}
							</div>
						</div>
					{% when '@app' -%}
						{%- render block -%}
				{%- endcase -%}
			{%- endfor %}
		</div>
		<div class="footer-section__utility">
			<div style="" class="stack stack--wrap">
				{% capture capture_fields -%}
					{%- if section.settings.show_country_selector and localization.available_countries.size > 1 %}
						<div class="form-control">
							<div class="form-control__select-wrapper">
								<select
									class="form-control__select"
									name="country_code"
									aria-label="{{ 'localization.country_label' | t }}"
								>
									{% for country in localization.available_countries %}
										<option
											value="{{ country.iso_code }}"
											{% if localization.country.iso_code == country.iso_code %}
												selected
											{% endif %}
										>
											{{ country.name }} ({{ country.currency.iso_code }}
											{{ country.currency.symbol }})
										</option>
									{% endfor %}
								</select>
							</div>
						</div>
					{% endif -%}
					{%- if section.settings.show_language_selector and localization.available_languages.size > 1 %}
						<div class="form-control">
							<div class="form-control__select-wrapper">
								<select
									class="form-control__select"
									name="language_code"
									aria-label="{{ 'localization.language_label' | t }}"
								>
									{% for lang in localization.available_languages %}
										<option
											value="{{ lang.iso_code }}"
											{% if localization.language.iso_code == lang.iso_code %}
												selected
											{% endif %}
										>
											{{ lang.name }}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>
					{% endif -%}
				{%- endcapture %}

				{% if capture_fields != blank -%}
					<x-localization class="localization">
						{% form 'localization' %}
							<div style="" class="stack stack--wrap">
								{{ capture_fields }}
							</div>
						{% endform %}
					</x-localization>
				{%- endif %}

				<script type="module" src="{{ 'component-localization.js' | asset_url }}"></script>
				<p>
					&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}
					{{ powered_by_link }}
				</p>
			</div>
			{% if section.settings.show_payment -%}
				{%- if shop.enabled_payment_types.size > 0 %}
					<div style="--stack-spacing:0.15" class="stack payment-icons stack--wrap">
						{% for type in shop.enabled_payment_types -%}
							{{- type | payment_type_svg_tag -}}
						{%- endfor %}
					</div>
				{% endif -%}
			{%- endif %}
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Footer",
		"class": "footer-section",
		"settings": [
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme",
				"default": "invert"
			},
			{
				"type": "checkbox",
				"id": "show_payment",
				"label": "Show payment icons",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_country_selector",
				"label": "Show country selector",
				"default": true,
				"info": "[Manage countries/regions](/admin/settings/markets)"
			},
			{
				"type": "checkbox",
				"id": "show_language_selector",
				"label": "Show language selector",
				"default": true,
				"info": "[Manage languages](/admin/settings/languages)"
			}
		],
		"blocks": [
			{
				"name": "Menu",
				"type": "menu",
				"settings": [
					{
						"type": "text",
						"id": "heading",
						"label": "Heading",
						"default": "Footer menu"
					},
					{
						"type": "link_list",
						"id": "link_list",
						"label": "Menu",
						"default": "footer"
					}
				]
			},
			{
				"name": "Text",
				"type": "text",
				"settings": [
					{
						"type": "text",
						"id": "heading",
						"label": "Heading",
						"default": "About our store"
					},
					{
						"type": "checkbox",
						"id": "show_logo",
						"label": "Show logo"
					},
					{
						"type": "checkbox",
						"id": "use_white_logo",
						"label": "Paint logo white",
						"default": false
					},
					{
						"type": "inline_richtext",
						"id": "description",
						"label": "Text",
						"default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
					},
					{
						"type": "checkbox",
						"id": "show_follow_on_shop",
						"label": "Follow on Shop",
						"info": "Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
						"default": false
					},
					{
						"type": "checkbox",
						"id": "show_social_media",
						"label": "Show social media links"
					}
				]
			},
			{
				"name": "Newsletter",
				"type": "newsletter",
				"limit": 1,
				"settings": [
					{
						"type": "paragraph",
						"content": "Signups add [customer profiles](https://help.shopify.com/manual/customers/manage-customers)"
					},
					{
						"type": "text",
						"id": "heading",
						"label": "Heading",
						"default": "Subscribe to our emails"
					},
					{
						"type": "checkbox",
						"id": "show_social_media",
						"label": "Show social media links"
					}
				]
			},
			{
				"type": "@app"
			}
		]
	}
{% endschema %}
