{% capture capture_clip %}
	<div class="color-scheme-{{ section.settings.color_scheme.id }} color-scheme--use-color color-scheme--use-gradient">
		{{ 'component-horizontal-scroller.css' | asset_url | stylesheet_tag }}
		{% capture capture_content %}
			<div class="content">
				{% if section.settings.subheading_text != blank %}
					<div class="content__subheading">
						<p class="subheading">
							{{ section.settings.subheading_text }}
						</p>
					</div>
				{% endif -%}
				{%- if section.settings.heading_text != blank %}
					<div class="content__heading">
						{% capture heading_capture %}
							<h2 class="heading heading--size--{{ section.settings.heading_size }}">
								{{ section.settings.heading_text }}
							</h2>
						{% endcapture %}
						{% if section.settings.heading_animation %}
							<div
								class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--left {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
								style=""
							>
								{{ heading_capture }}
							</div>
						{% else -%}
							{{- heading_capture -}}
						{%- endif %}
					</div>
				{% endif -%}
				{%- if section.settings.text_content != blank %}
					<div class="content__text">
						<p class="text text--size--md">{{ section.settings.text_content }}</p>
					</div>
				{% endif -%}
				{%- if section.settings.button_label != blank %}
					<div class="content__button">
						<a
							href="{{ section.settings.button_link }}"
							style=""
							class="button button--variant--{{ section.settings.button_variant }}"
						>
							{{ section.settings.button_label }}
						</a>
					</div>
				{% endif %}
			</div>
		{% endcapture %}

		<x-horizontal-scroller
			class="horizontal-scroller horizontal-scroller--item-width--{{ section.settings.image_width }}"
			style="--horizontal-scroller-items-count: {{ section.blocks.size }};"
		>
			<div class="horizontal-scroller__mobile-caption">
				{{ capture_content }}
			</div>
			<div class="horizontal-scroller__stage" data-horizontal-scroller-element="frame">
				<div class="horizontal-scroller__scene" data-horizontal-scroller-element="target">
					<div class="horizontal-scroller__caption">
						{{ capture_content }}
					</div>
					{% for block in section.blocks -%}
						{%- assign block_video = blank -%}
						{%- assign block_image = blank -%}
						{%- if block.type == 'image' -%}
							{%- assign block_image = block.settings.banner_image -%}
						{%- elsif block.type == 'video' -%}
							{%- assign block_video = block.settings.banner_video -%}
						{%- endif %}
						<div
							class="horizontal-scroller__item {% if section.settings.scatter_images %}horizontal-scroller__item--scatter{% endif %} color-scheme-{{ block.settings.color_scheme.id }}"
							{{ block.shopify_attributes }}
						>
							{% capture capture_banner_content %}
								<div class="content content--spacing--sm content--position-align--{{ block.settings.content_position }}">
									{% if block.settings.subheading_text != blank %}
										<div class="content__subheading">
											<p class="subheading">
												{{ block.settings.subheading_text }}
											</p>
										</div>
									{% endif -%}
									{%- if block.settings.heading_text != blank %}
										<div class="content__heading">
											<h2 class="heading heading--size--{{ block.settings.heading_size }}">
												{{ block.settings.heading_text }}
											</h2>
										</div>
									{% endif -%}
									{%- if block.settings.text_content != blank %}
										<div class="content__text">
											<p class="text text--size--md">{{ block.settings.text_content }}</p>
										</div>
									{% endif %}
								</div>
							{% endcapture %}

							{% capture capture_banner %}
								<div
									class="banner banner--size--full banner--bg"
									style="--banner-overlay: {{ block.settings.banner_overlay | times: 0.01 }};--banner-focal: {{ block_image.presentation.focal_point }};"
								>
									<div class="banner__overlay"></div>
									{% if block.settings.link != blank -%}
										<a
											class="stretched-link"
											href="{{ block.settings.link }}"
											aria-label="{{ block.settings.heading_text }}"
										>
										</a>
									{%- endif %}

									{% if block_video != blank -%}
										<x-bg-video class="bg-video">
											<video
												class="banner__video"
												loop
												muted
												preload="none"
												width="{{ block_video.sources.first.width }}"
												height="{{ block_video.sources.first.height }}"
												data-bg-video-element="video"
											>
												{% for source in block_video.sources %}
													<source src="{{ source.url }}" type="{{ source.mime_type }}">
												{% endfor %}
											</video>
										</x-bg-video>
										<script type="module" src="{{ 'component-bg-video.js' | asset_url }}"></script>
									{% endif %}
									{% if block_image != blank %}
										<picture class="banner__image">
											<source
												srcset="
													{% if block_image.width >= 375 %}{{ block_image | image_url: width: 375 }} 375w,{% endif %}
													{% if block_image.width >= 550 %}{{ block_image | image_url: width: 550 }} 550w,{% endif %}
													{% if block_image.width >= 750 %}{{ block_image | image_url: width: 750 }} 750w,{% endif %}
													{% if block_image.width >= 1100 %}{{ block_image | image_url: width: 1100 }} 1100w,{% endif %}
													{% if block_image.width >= 1500 %}{{ block_image | image_url: width: 1500 }} 1500w,{% endif %}
													{% if block_image.width >= 1780 %}{{ block_image | image_url: width: 1780 }} 1780w,{% endif %}
													{% if block_image.width >= 2000 %}{{ block_image | image_url: width: 2000 }} 2000w,{% endif %}
													{{ block_image | image_url }} {{ block_image.width }}w
												"
												sizes="(min-width: 992px) 800px, (max-width: 992px) 90vw"
											>

											<img
												src="{{ block_image | image_url }}"
												alt="{{ block_image.alt | escape }}"
												width="{{ block_image.width }}"
												height="{{ block_image.height }}"
												loading="lazy"
												data-img-loading
												onload="this.removeAttribute(&#34;data-img-loading&#34;)"
											>
										</picture>
									{%- endif %}

									{% if block_video == blank and block_image == blank %}
										{{
											forloop.index0
											| modulo: 6
											| plus: 1
											| prepend: '-'
											| prepend: 'collection'
											| placeholder_svg_tag: 'banner__placeholder'
										-}}
									{%- endif %}

									<div class="banner__content">
										<div
											class="placer placer--position--{{ block.settings.content_position }} placer--offset--{% if section.settings.gyro_effect %}large{% else %}medium{% endif %}"
											style=""
										>
											<div class="placer__target">
												{% if section.settings.gyro_effect %}
													<div class="mouse-tracker__caption">
														<div class="mouse-tracker__caption__content">
															{{ capture_banner_content }}
														</div>
													</div>
												{% else -%}
													{{- capture_banner_content -}}
												{%- endif %}
											</div>
										</div>
									</div>
								</div>
							{% endcapture %}

							{% if section.settings.gyro_effect -%}
								<x-mouse-tracker class="mouse-tracker mouse-tracker--outer mouse-tracker--full" style="">
									<div class="mouse-tracker__stage mouse-tracker__stage--outer">
										<div class="mouse-tracker__stage__inner">
											{{ capture_banner }}
										</div>

										<div class="mouse-tracker__shadow"></div>
									</div>
									<div class="mouse-tracker__border"></div>
								</x-mouse-tracker>
							{%- else -%}
								{{- capture_banner -}}
							{%- endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</x-horizontal-scroller>
		<script type="module" src="{{ 'component-horizontal-scroller.js' | asset_url }}"></script>
	</div>
{% endcapture %}
{% if section.settings.scroll_clip %}
	<div
		class="scroll-animation scroll-animation--use--{% if section.index0 == 0 %}clip-out{% else %}clip-in{% endif %}"
		style=""
	>
		{{ capture_clip }}
	</div>
{% else -%}
	{{- capture_clip -}}
{%- endif %}

{% schema %}
	{
		"name": "Horizontal image scroller",
		"class": "horizontal-image-scroller-section",
		"presets": [
			{
				"name": "Horizontal image scroller",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				],
				"category": "Media"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "custom.overlay"]
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "scroll_clip",
				"label": "Enable clip effect on scroll"
			},
			{
				"type": "header",
				"content": "Media items"
			},
			{
				"type": "checkbox",
				"id": "gyro_effect",
				"label": "Enable 3D effect on mouseover"
			},
			{
				"type": "checkbox",
				"id": "scatter_images",
				"label": "Stagger media",
				"default": true
			},
			{
				"type": "select",
				"id": "image_width",
				"label": "Desktop width",
				"options": [
					{
						"value": "narrow",
						"label": "Narrow"
					},
					{
						"value": "normal",
						"label": "Normal"
					},
					{
						"value": "wide",
						"label": "Wide"
					}
				],
				"default": "normal"
			},
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "text",
				"id": "subheading_text",
				"label": "Subheading"
			},
			{
				"type": "text",
				"id": "heading_text",
				"label": "Heading",
				"default": "Heading"
			},
			{
				"type": "checkbox",
				"id": "heading_animation",
				"label": "Use heading animation",
				"default": true
			},
			{
				"type": "select",
				"id": "heading_size",
				"label": "Heading size",
				"options": [
					{
						"value": "h2",
						"label": "Small"
					},
					{
						"value": "h1",
						"label": "Medium"
					},
					{
						"value": "d3",
						"label": "Large"
					}
				],
				"default": "h1"
			},
			{
				"type": "inline_richtext",
				"id": "text_content",
				"label": "Text",
				"default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
			},
			{
				"type": "text",
				"id": "button_label",
				"label": "Button label"
			},
			{
				"type": "select",
				"id": "button_variant",
				"label": "Button style",
				"options": [
					{
						"value": "fill",
						"label": "Solid"
					},
					{
						"value": "outline",
						"label": "Outline"
					},
					{
						"value": "link",
						"label": "Link"
					}
				],
				"default": "outline"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button link"
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme",
				"default": "invert"
			}
		],
		"blocks": [
			{
				"name": "Image",
				"type": "image",
				"settings": [
					{
						"type": "image_picker",
						"id": "banner_image",
						"label": "Image"
					},
					{
						"type": "range",
						"id": "banner_overlay",
						"label": "Overlay",
						"min": 0,
						"max": 100,
						"step": 1,
						"default": 0,
						"unit": "%"
					},
					{
						"type": "url",
						"id": "link",
						"label": "Link"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading",
						"default": "Subheading"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Banner heading"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Heading size",
						"default": "h4",
						"options": [
							{
								"value": "h5",
								"label": "Small"
							},
							{
								"value": "h4",
								"label": "Medium"
							},
							{
								"value": "h3",
								"label": "Large"
							}
						]
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text"
					},
					{
						"type": "select",
						"id": "content_position",
						"label": "Content position",
						"options": [
							{
								"value": "top-left",
								"label": "Top left"
							},
							{
								"value": "top-center",
								"label": "Top center"
							},
							{
								"value": "top-right",
								"label": "Top right"
							},
							{
								"value": "middle-left",
								"label": "Middle left"
							},
							{
								"value": "middle-center",
								"label": "Middle center"
							},
							{
								"value": "middle-right",
								"label": "Middle right"
							},
							{
								"value": "bottom-left",
								"label": "Bottom left"
							},
							{
								"value": "bottom-center",
								"label": "Bottom center"
							},
							{
								"value": "bottom-right",
								"label": "Bottom right"
							}
						],
						"default": "bottom-left"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "invert"
					}
				]
			},
			{
				"name": "Video",
				"type": "video",
				"settings": [
					{
						"type": "video",
						"id": "banner_video",
						"label": "Video"
					},
					{
						"type": "range",
						"id": "banner_overlay",
						"label": "Overlay",
						"min": 0,
						"max": 100,
						"step": 1,
						"default": 0,
						"unit": "%"
					},
					{
						"type": "url",
						"id": "link",
						"label": "Link"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading",
						"default": "Subheading"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Banner heading"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Heading size",
						"default": "h4",
						"options": [
							{
								"value": "h5",
								"label": "Small"
							},
							{
								"value": "h4",
								"label": "Medium"
							},
							{
								"value": "h3",
								"label": "Large"
							}
						]
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text"
					},
					{
						"type": "select",
						"id": "content_position",
						"label": "Content position",
						"options": [
							{
								"value": "top-left",
								"label": "Top left"
							},
							{
								"value": "top-center",
								"label": "Top center"
							},
							{
								"value": "top-right",
								"label": "Top right"
							},
							{
								"value": "middle-left",
								"label": "Middle left"
							},
							{
								"value": "middle-center",
								"label": "Middle center"
							},
							{
								"value": "middle-right",
								"label": "Middle right"
							},
							{
								"value": "bottom-left",
								"label": "Bottom left"
							},
							{
								"value": "bottom-center",
								"label": "Bottom center"
							},
							{
								"value": "bottom-right",
								"label": "Bottom right"
							}
						],
						"default": "bottom-left"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "invert"
					}
				]
			}
		]
	}
{% endschema %}
