{% if section.settings.section_center_heading -%}
	{%- assign heading_align = 'center' -%}
{%- else -%}
	{%- assign heading_align = 'left' -%}
{%- endif %}
<div class="section-wrapper section-wrapper--y-offset--padding color-scheme-{{ section.settings.section_color_scheme.id }} {% if section.settings.section_center_heading %}section-wrapper--center-align{% endif %}">
	{% if section.settings.section_heading != blank or section.settings.section_description != blank %}
		<div class="container section-wrapper__header">
			<div class="content content--align--{{ heading_align }}">
				{% if section.settings.section_heading != blank %}
					<div class="content__heading">
						{% capture heading_capture %}
							<h2 class="heading heading--size--{{ section.settings.section_heading_size }}">
								{{ section.settings.section_heading }}
							</h2>
						{% endcapture %}
						{% if section.settings.section_heading_animation %}
							<div
								class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--{{ heading_align }} {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
								style=""
							>
								{{ heading_capture }}
							</div>
						{% else -%}
							{{- heading_capture -}}
						{%- endif %}
					</div>
				{% endif -%}
				{%- if section.settings.section_description != blank %}
					<div class="content__text">
						<p class="text text--size--md">{{ section.settings.section_description }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="section-wrapper__body">
		{% capture capture_grid_content %}
			{% for block in section.blocks -%}
				{%- if block.settings.image != null or block.settings.video != null -%}
					{%- assign no_media = false -%}
				{%- else -%}
					{%- assign no_media = true -%}
				{%- endif -%}
				{%- if block.settings.button_label == blank -%}
					{%- assign card_link = block.settings.link -%}
				{%- else -%}
					{%- assign card_link = blank -%}
				{%- endif %}
				{% capture capture_card_media -%}
					{%- unless no_media %}
						<div
							class="banner banner--size--{{ section.settings.card_image_ratio }}"
							style="--banner-focal: {{ block.settings.image.presentation.focal_point }};"
						>
							{% if block.settings.video != blank -%}
								<x-bg-video class="bg-video">
									<video
										class="banner__video"
										loop
										muted
										preload="none"
										width="{{ block.settings.video.sources.first.width }}"
										height="{{ block.settings.video.sources.first.height }}"
										data-bg-video-element="video"
									>
										{% for source in block.settings.video.sources %}
											<source src="{{ source.url }}" type="{{ source.mime_type }}">
										{% endfor %}
									</video>
								</x-bg-video>
								<script type="module" src="{{ 'component-bg-video.js' | asset_url }}"></script>
							{% endif %}
							{% if block.settings.image != blank %}
								<picture class="banner__image">
									<source
										srcset="
											{% if block.settings.image.width >= 165 %}{{ block.settings.image | image_url: width: 165 }} 165w,{% endif %}
											{% if block.settings.image.width >= 360 %}{{ block.settings.image | image_url: width: 360 }} 360w,{% endif %}
											{% if block.settings.image.width >= 533 %}{{ block.settings.image | image_url: width: 533 }} 533w,{% endif %}
											{% if block.settings.image.width >= 720 %}{{ block.settings.image | image_url: width: 720 }} 720w,{% endif %}
											{% if block.settings.image.width >= 1000 %}{{ block.settings.image | image_url: width: 1000 }} 1000w,{% endif %}
											{% if block.settings.image.width >= 1500 %}{{ block.settings.image | image_url: width: 1500 }} 1500w,{% endif %}
											{{ block.settings.image | image_url }} {{ block.settings.image.width }}w
										"
										sizes="(min-width: 992px) 533px, (max-width: 992px) 72vw"
									>

									<img
										src="{{ block.settings.image | image_url }}"
										alt="{{ block.settings.image.alt | escape }}"
										width="{{ block.settings.image.width }}"
										height="{{ block.settings.image.height }}"
										loading="lazy"
										data-img-loading
										onload="this.removeAttribute(&#34;data-img-loading&#34;)"
									>
								</picture>
							{%- endif %}
						</div>
					{% endunless -%}
				{%- endcapture %}
				{% capture capture_card %}
					<div
						class="card {% if section.settings.card_display_style == 'card' %}card--full{% endif %} color-scheme-{{ section.settings.card_color_scheme.id }} {% if section.settings.card_center_content %}card--center{% endif %} {% if no_media %}card--no-media{% endif %} card--spaced-caption"
						{{ block.shopify_attributes }}
					>
						{% if card_link != blank -%}
							<a class="stretched-link" href="{{ card_link }}" aria-label="{{ block.settings.heading_text }}"> </a>
						{%- endif %}
						<div class="card__media">
							{% if section.settings.card_display_style != 'card' %}
								<div class="mouse-tracker__stage mouse-tracker__stage--outer">
									<div class="mouse-tracker__stage__inner">
										{{ capture_card_media }}
									</div>

									<div class="mouse-tracker__shadow"></div>
								</div>
							{% else -%}
								{{- capture_card_media -}}
							{%- endif %}
						</div>
						<div class="card__caption">
							<div class="content content--spacing--sm {% if section.settings.card_center_content %}content--align--center{% endif %}">
								{% if block.settings.subheading_text != blank %}
									<div class="content__subheading">
										<p class="subheading">
											{{ block.settings.subheading_text }}
										</p>
									</div>
								{% endif -%}
								{%- if block.settings.heading_text != blank %}
									<div class="content__heading">
										<h2 class="heading heading--size--{{ section.settings.heading_size }}">
											{{ block.settings.heading_text }}
										</h2>
									</div>
								{% endif -%}
								{%- if block.settings.text_content != blank %}
									<div class="content__text">
										<p class="text text--size--md">{{ block.settings.text_content }}</p>
									</div>
								{% endif -%}
								{%- if block.settings.button_label != blank %}
									<div class="content__button">
										<a
											href="{{ block.settings.link }}"
											style=""
											class="button button--variant--{{ block.settings.button_variant }}"
										>
											{{ block.settings.button_label }}
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endcapture %}
				{% if section.settings.card_gyro_effect -%}
					<x-mouse-tracker
						class="mouse-tracker mouse-tracker--outer mouse-tracker--full"
						style="--mouse-tracker-z: 20px;"
					>
						{% if section.settings.card_display_style != 'card' -%}
							{{- capture_card -}}
						{%- else %}
							<div class="mouse-tracker__stage mouse-tracker__stage--outer">
								<div class="mouse-tracker__stage__inner">
									{{ capture_card }}
								</div>

								<div class="mouse-tracker__shadow"></div>
							</div>
						{% endif %}
					</x-mouse-tracker>
				{%- else -%}
					{{- capture_card -}}
				{%- endif -%}
			{%- endfor %}
		{% endcapture %}
		{% if section.settings.stack_grid_layout == 'grid' %}
			<div class="container">
				<div
					class="grid"
					style="--grid-columns: {{ section.settings.stack_grid_desktop_columns }};--grid-mobile-columns: {{ section.settings.stack_grid_mobile_columns }};"
				>
					{{ capture_grid_content }}
				</div>
			</div>
		{% elsif section.settings.stack_grid_layout == 'stack' -%}
			{{- 'component-inline-carousel.css' | asset_url | stylesheet_tag }}
			<x-inline-carousel
				class="inline-carousel"
				items-count="{{ section.blocks.size }}"
				columns="{{ section.settings.stack_grid_desktop_columns }}"
				style="--inline-carousel-columns: {{ section.settings.stack_grid_desktop_columns }};--inline-carousel-mobile-columns: {% if section.settings.stack_grid_mobile_columns == '1' %}1.25{% else %}{{ section.settings.stack_grid_mobile_columns }}{% endif %};--inline-carousel-items-count: {{ section.blocks.size }};"
				section-id="{{ section.id }}"
			>
				<div class="inline-carousel__view" data-inline-carousel-element="view">
					<div class="container inline-carousel__container container--size--adaptive">
						<div class="inline-carousel__track" data-inline-carousel-element="track">
							{{ capture_grid_content }}
							{% unless section.settings.stack_grid_mobile_columns == '1' %}
								<div class="inline-carousel__pseudo-item"></div>
							{% endunless %}
						</div>
					</div>
					<div class="container inline-carousel__nav-container">
						<button
							class="inline-carousel__nav-prev"
							aria-label="{{ 'general.slider.previous_slide' | t }}"
							data-inline-carousel-element="nav-prev"
						>
							<span class="carousel-arrow carousel-arrow--type--solid">
								<svg class="carousel-arrow__icon">
									<use  xlink:href="#svg-icon-arrow-left"></use>
								</svg>
							</span>
						</button>
						<button
							class="inline-carousel__nav-next"
							aria-label="{{ 'general.slider.next_slide' | t }}"
							data-inline-carousel-element="nav-next"
						>
							<span class="carousel-arrow carousel-arrow--type--solid">
								<svg class="carousel-arrow__icon">
									<use  xlink:href="#svg-icon-arrow-right"></use>
								</svg>
							</span>
						</button>
					</div>
				</div>
				<div class="container">
					<x-carousel-pagination
						class="carousel-pagination inline-carousel__mobile-pagination"
						section-id="{{ section.id }}"
					>
						{% for i in (0..section.blocks.size) -%}
							{%- unless forloop.last -%}
								<label>
									<input
										class="carousel-pagination__radio"
										type="radio"
										name="{{ section.id | append: 'carousel-pagination' }}"
										value="{{ i }}"
										data-carousel-pagination-element="radio"
										{% if forloop.first %}
											checked
										{% endif %}
									>
									<div class="carousel-pagination__dot"></div>
								</label>
							{%- endunless -%}
						{%- endfor %}
					</x-carousel-pagination>
					<script type="module" src="{{ 'component-carousel-pagination.js' | asset_url }}"></script>
				</div>
			</x-inline-carousel>

			<script type="module" src="{{ 'component-inline-carousel.js' | asset_url }}"></script>
		{% else -%}
			<x-moving-line
				class="moving-line moving-line--animation--auto {% if true %}moving-line--stop-on-hover{% endif %} moving-line--spacing--medium"
				style="--moving-line-direction: normal;--moving-line-animation-speed-mult: 2;"
			>
				<div class="moving-line__content" data-moving-line-element="content">
					<div
						class="stack-grid__marquee-inner"
						style="--stack-grid-columns: {{ section.settings.stack_grid_desktop_columns }};--stack-grid-mobile-columns: {{ section.settings.stack_grid_mobile_columns }};"
					>
						{{ capture_grid_content }}
					</div>
				</div>
			</x-moving-line>
			<script type="module" src="{{ 'component-moving-line.js' | asset_url }}"></script>
		{% endif %}
	</div>
</div>

{% schema %}
	{
		"name": "Multicolumn",
		"class": "multicolumn-section",
		"presets": [
			{
				"name": "Multicolumn",
				"blocks": [
					{
						"type": "column"
					},
					{
						"type": "column"
					},
					{
						"type": "column"
					},
					{
						"type": "column"
					}
				],
				"category": "Store information"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "custom.overlay"]
		},
		"settings": [
			{
				"type": "text",
				"id": "section_heading",
				"label": "Heading",
				"default": "Multicolumn"
			},
			{
				"type": "select",
				"id": "section_heading_size",
				"label": "Heading size",
				"options": [
					{
						"value": "h2",
						"label": "Small"
					},
					{
						"value": "h1",
						"label": "Medium"
					},
					{
						"value": "d3",
						"label": "Large"
					}
				],
				"default": "h1"
			},
			{
				"type": "checkbox",
				"id": "section_heading_animation",
				"label": "Use heading animation",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "section_center_heading",
				"label": "Center heading",
				"default": true
			},
			{
				"type": "inline_richtext",
				"id": "section_description",
				"label": "Text"
			},
			{
				"type": "color_scheme",
				"id": "section_color_scheme",
				"label": "Color scheme",
				"default": "alt"
			},
			{
				"type": "header",
				"content": "Format"
			},
			{
				"type": "select",
				"id": "stack_grid_layout",
				"label": "Layout",
				"options": [
					{
						"value": "stack",
						"label": "Stack"
					},
					{
						"value": "grid",
						"label": "Grid"
					},
					{
						"value": "marquee",
						"label": "Marquee"
					}
				],
				"default": "stack"
			},
			{
				"type": "select",
				"id": "stack_grid_desktop_columns",
				"label": "Desktop columns",
				"options": [
					{
						"value": "2",
						"label": "2"
					},
					{
						"value": "3",
						"label": "3"
					},
					{
						"value": "4",
						"label": "4"
					},
					{
						"value": "5",
						"label": "5"
					}
				],
				"default": "3"
			},
			{
				"type": "select",
				"id": "stack_grid_mobile_columns",
				"label": "Mobile columns",
				"options": [
					{
						"value": "1",
						"label": "1"
					},
					{
						"value": "2",
						"label": "2"
					}
				],
				"default": "2"
			},
			{
				"type": "header",
				"content": "Column"
			},
			{
				"type": "select",
				"id": "heading_size",
				"label": "Heading size",
				"default": "h5",
				"options": [
					{
						"value": "h6",
						"label": "Small"
					},
					{
						"value": "h5",
						"label": "Medium"
					},
					{
						"value": "h4",
						"label": "Large"
					}
				]
			},
			{
				"type": "select",
				"id": "card_display_style",
				"label": "Display style",
				"options": [
					{
						"value": "card",
						"label": "Card"
					},
					{
						"value": "normal",
						"label": "Standard"
					}
				],
				"default": "card"
			},
			{
				"type": "select",
				"id": "card_image_ratio",
				"label": "Image size",
				"options": [
					{
						"value": "auto",
						"label": "Original"
					},
					{
						"value": "square",
						"label": "Square (1:1)"
					},
					{
						"value": "landscape",
						"label": "Landscape (4:3)"
					},
					{
						"value": "portrait",
						"label": "Portrait (2:3)"
					}
				],
				"default": "square"
			},
			{
				"type": "checkbox",
				"id": "card_gyro_effect",
				"label": "Enable 3D effect on mouseover"
			},
			{
				"type": "checkbox",
				"id": "card_center_content",
				"label": "Center content"
			},
			{
				"type": "color_scheme",
				"id": "card_color_scheme",
				"label": "Card color scheme"
			}
		],
		"blocks": [
			{
				"name": "Column",
				"type": "column",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "video",
						"id": "video",
						"label": "Video",
						"info": "Has priority over image"
					},
					{
						"type": "url",
						"id": "link",
						"label": "Link"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Column"
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text",
						"default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
					},
					{
						"type": "text",
						"id": "button_label",
						"label": "Button label"
					},
					{
						"type": "select",
						"id": "button_variant",
						"label": "Button style",
						"options": [
							{
								"value": "fill",
								"label": "Solid"
							},
							{
								"value": "outline",
								"label": "Outline"
							},
							{
								"value": "link",
								"label": "Link"
							}
						],
						"default": "outline"
					}
				]
			}
		]
	}
{% endschema %}
