{% style %}
	.password-header-section__wrapper {
		padding-block: 1rem;
	}

	.password-header-section__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
	@media (max-width: 991px) {
		.password-header-section__inner {
			flex-direction: column;
			gap: 1rem;
		}
	}

	.password-header-section__password-message {
		text-align: center;
	}

	.password-header-section__modal-trigger {
		flex-shrink: 0;
		text-decoration: underline;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.password-header-section__modal-trigger-icon {
		width: 1.2em;
		height: 1.2em;
	}
{% endstyle %}
<div class="color-scheme-{{ section.settings.color_scheme.id }} color-scheme--use-color color-scheme--use-gradient">
	<div class="password-header-section__wrapper">
		<div class="container container--full">
			<div class="password-header-section__inner">
				<a
					class="logo {% if settings.brand_text_logo == blank and settings.brand_logo == null %}logo--shop-name{% endif %}"
					style="--logo-size: {{ settings.brand_logo_width }};"
					{% if request.page_type != 'password' %}
						href="{{shop.url}}"
					{% endif %}
				>
					{% if settings.brand_logo != null -%}
						{%- assign img_scale_1 = settings.brand_logo_width | times: 1 -%}
						{%- assign img_scale_2 = settings.brand_logo_width | times: 2 -%}
						{%- assign img_scale_3 = settings.brand_logo_width | times: 3 %}
						<picture class="logo__img">
							<source srcset="{{ settings.brand_logo | image_url: width: img_scale_1 }} 1x, {{ settings.brand_logo | image_url: width: img_scale_2 }} 2x, {{ settings.brand_logo | image_url: width: img_scale_3 }} 3x">

							<img
								src="{{ settings.brand_logo | image_url }}"
								alt="{{ settings.brand_logo.alt | escape }}"
								width="{{ settings.brand_logo.width }}"
								height="{{ settings.brand_logo.height }}"
								fetchpriority="high"
							>
						</picture>
					{%- else -%}
						{%- assign text_logo = settings.brand_text_logo | default: shop.name %}
						<h1
							class="logo__text"
							style="--logo-font-family: {{ settings.brand_text_logo_font.family | escape_once }};--logo-font-weight: {{ settings.brand_text_logo_font.weight }};--logo-font-style: {{ settings.brand_text_logo_font.style }};--logo-font-size: {{ settings.brand_text_logo_font_size }};--logo-letter-spacing: {{ settings.brand_text_logo_letter_spacing }};"
						>
							{{ text_logo }}
						</h1>
					{% endif %}
				</a>

				{% if shop.password_message != blank %}
					<div class="password-header-section__password-message">
						{{ shop.password_message }}
					</div>
				{% endif %}

				<x-modal-trigger
					class="modal-trigger password-header-section__modal-trigger"
					target-id="password-form-modal"
					tabindex="0"
					role="button"
				>
					<svg class="password-header-section__modal-trigger-icon">
						<use  xlink:href="#svg-icon-lock"></use>
					</svg>
					<span>{{ 'general.password_page.login_password_button' | t }}</span>
				</x-modal-trigger>
			</div>
		</div>

		<x-password-form-modal class="password-form-modal" modal-id="password-form-modal">
			<x-modal class="modal" id="password-form-modal" style="">
				<dialog class="modal__dialog" data-modal-element="dialog">
					<div class="modal__content" data-modal-element="content">
						<div class="container container--full">
							<div class="password-form-modal__modal">
								<h2>{{ 'general.password_page.login_form_heading' | t }}</h2>

								{% form 'storefront_password' %}
									{% if form.errors %}
										<div class="form-errors" id="password-form-errors">
											<h2 class="form-errors__heading" tabindex="-1" autofocus>
												<span class="screen-reader">
													{{ 'accessibility.error' | t }}
												</span>
												{{ 'templates.contact.form.error_heading' | t }}
											</h2>
											{{ form.errors | default_errors }}
										</div>
									{% endif %}

									<div class="password-form-modal__form-inner">
										<div class="form-control">
											<input
												class="form-control__input"
												type="password"
												name="password"
												placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
												id="password"
											>
										</div>

										<button
											aria-label="{{ 'general.password_page.login_form_submit' | t }}"
											name="commit"
											style=""
											class="button"
										>
											{{ 'general.password_page.login_form_submit' | t }}
										</button>
									</div>
								{% endform %}

								<small class="admin-link">
									{{ 'general.password_page.admin_link_html' | t }}
								</small>
							</div>
						</div>
					</div>
					<x-modal-close
						class="modal-close modal__close-inner modal-close--icon"
						target-id="password-form-modal"
						tabindex="0"
						role="button"
						aria-label="{{ 'accessibility.close' | t }}"
					>
						<svg class="modal-close__icon">
							<use  xlink:href="#svg-icon-x"></use>
						</svg>
					</x-modal-close>
				</dialog>
			</x-modal>
		</x-password-form-modal>
		<script type="module" src="{{ 'component-password-form-modal.js' | asset_url }}"></script>
	</div>
</div>

{% schema %}
	{
		"name": "Password header",
		"class": "password-header-section",
		"settings": [
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme"
			}
		]
	}
{% endschema %}
