{% style %}
	.password-newsletter-section__content {
		margin-inline: auto;
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-direction: column;
		text-align: center;
		gap: 1.2rem;
	}

	.password-newsletter-section__social-icons-wrapper {
		display: flex;
		justify-content: center;
	}
{% endstyle %}
<div class="color-scheme-{{ section.settings.color_scheme.id }} color-scheme--use-color color-scheme--use-gradient">
	{% capture capture_content %}
		<div class="container container--full">
			<div class="password-newsletter-section__content">
				<h2 class="heading heading--size--h2">{{ section.settings.heading_text }}</h2>
				<p class="text text--size--md">{{ section.settings.description }}</p>
				<div class="newsletter">
					{% form 'customer', id: 'PasswordPageNewsletterSectionFormId' %}
						{% if form.posted_successfully? %}
							<div class="newsletter__feeback">
								<div class="badge badge--type--success">
									{{ 'newsletter.success' | t }}
								</div>
							</div>
						{% endif -%}
						{%- if form.errors %}
							<div class="newsletter__feeback">
								{% if form.errors %}
									<div class="form-errors">
										<h2 class="form-errors__heading" tabindex="-1" autofocus>
											<span class="screen-reader">
												{{ 'accessibility.error' | t }}
											</span>
											{{ 'templates.contact.form.error_heading' | t }}
										</h2>
										{{ form.errors | default_errors }}
									</div>
								{% endif %}
							</div>
						{% endif -%}
						<input type="hidden" name="contact[tags]" value="newsletter">
						<div class="newsletter__inner">
							<input
								class="newsletter__input"
								type="email"
								name="contact[email]"
								aria-required="true"
								autocorrect="off"
								autocapitalize="off"
								autocomplete="email"
								placeholder="{{ 'templates.contact.form.email' | t }}"
								aria-label="{{ 'templates.contact.form.email' | t }}"
								required
							>
							<button class="newsletter__submit" type="submit" aria-label="{{ 'newsletter.button_label' | t }}">
								<svg>
									<use  xlink:href="#svg-icon-arrow-right"></use>
								</svg>
							</button>
						</div>
					{% endform %}
				</div>
				{% if section.settings.show_social %}
					<div class="password-newsletter-section__social-icons-wrapper">{% render 'social-media-links' %}</div>
				{% endif %}
			</div>
		</div>
	{% endcapture %}

	{% if section.settings.image != blank %}
		<div
			class="banner banner--size--full"
			style="--banner-overlay: {{ section.settings.image_overlay | times: 0.01 }};--banner-focal: {{ section.settings.image.presentation.focal_point }};"
		>
			<div class="banner__overlay"></div>

			{% if section.settings.image != blank %}
				<picture class="banner__image">
					<source
						srcset="
							{% if section.settings.image.width >= 375 %}{{ section.settings.image | image_url: width: 375 }} 375w,{% endif %}
							{% if section.settings.image.width >= 550 %}{{ section.settings.image | image_url: width: 550 }} 550w,{% endif %}
							{% if section.settings.image.width >= 750 %}{{ section.settings.image | image_url: width: 750 }} 750w,{% endif %}
							{% if section.settings.image.width >= 1100 %}{{ section.settings.image | image_url: width: 1100 }} 1100w,{% endif %}
							{% if section.settings.image.width >= 1500 %}{{ section.settings.image | image_url: width: 1500 }} 1500w,{% endif %}
							{% if section.settings.image.width >= 1780 %}{{ section.settings.image | image_url: width: 1780 }} 1780w,{% endif %}
							{% if section.settings.image.width >= 2000 %}{{ section.settings.image | image_url: width: 2000 }} 2000w,{% endif %}
							{% if section.settings.image.width >= 3000 %}{{ section.settings.image | image_url: width: 3000 }} 3000w,{% endif %}
							{% if section.settings.image.width >= 3840 %}{{ section.settings.image | image_url: width: 3840 }} 3840w,{% endif %}
							{{ section.settings.image | image_url }} {{ section.settings.image.width }}w
						"
						sizes="100vw"
					>

					<img
						src="{{ section.settings.image | image_url }}"
						alt="{{ section.settings.image.alt | escape }}"
						width="{{ section.settings.image.width }}"
						height="{{ section.settings.image.height }}"
						loading="lazy"
						data-img-loading
						onload="this.removeAttribute(&#34;data-img-loading&#34;)"
					>
				</picture>
			{%- endif %}

			<div class="banner__content">
				{{ capture_content }}
			</div>
		</div>
	{% else -%}
		{{- capture_content -}}
	{%- endif %}
</div>

{% schema %}
	{
		"name": "Password newsletter",
		"class": "password-newsletter-section",
		"settings": [
			{
				"type": "text",
				"id": "heading_text",
				"label": "Heading",
				"default": "Opening soon"
			},
			{
				"type": "inline_richtext",
				"id": "description",
				"label": "Text",
				"default": "Be the first to know when we launch."
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Background image"
			},
			{
				"type": "range",
				"id": "image_overlay",
				"label": "Overlay",
				"min": 0,
				"max": 100,
				"step": 1,
				"default": 0,
				"unit": "%"
			},
			{
				"type": "checkbox",
				"id": "show_social",
				"label": "Show social icons",
				"default": true
			}
		]
	}
{% endschema %}
