
{% assign heading_block = section.blocks | where: 'type', 'heading' | first %}
{% assign text_block = section.blocks | where: 'type', 'description' | first %}

{% if heading_block.settings.heading_text != blank
   or text_block.settings.text_content != blank %}
<div class="section-wrapper section-wrapper--y-offset--padding color-scheme-{{ section.settings.color_scheme.id }}">
	{% if section.settings.bg_image != blank %}
		<div class="section-wrapper__bg {% if section.settings.blur_image %}section-wrapper__bg--blur{% endif %}">
			<div
				class="section-wrapper__bg-overlay"
				style="--section-wrapper-bg-overlay: {{ section.settings.image_overlay }};"
			></div>

			<picture
				class="section-wrapper__bg-img"
				style="object-position: {{ section.settings.bg_image.presentation.focal_point }};"
			>
				<source
					srcset="
						{% if section.settings.bg_image.width >= 375 %}{{ section.settings.bg_image | image_url: width: 375 }} 375w,{% endif %}
						{% if section.settings.bg_image.width >= 550 %}{{ section.settings.bg_image | image_url: width: 550 }} 550w,{% endif %}
						{% if section.settings.bg_image.width >= 750 %}{{ section.settings.bg_image | image_url: width: 750 }} 750w,{% endif %}
						{% if section.settings.bg_image.width >= 1100 %}{{ section.settings.bg_image | image_url: width: 1100 }} 1100w,{% endif %}
						{% if section.settings.bg_image.width >= 1500 %}{{ section.settings.bg_image | image_url: width: 1500 }} 1500w,{% endif %}
						{% if section.settings.bg_image.width >= 1780 %}{{ section.settings.bg_image | image_url: width: 1780 }} 1780w,{% endif %}
						{% if section.settings.bg_image.width >= 2000 %}{{ section.settings.bg_image | image_url: width: 2000 }} 2000w,{% endif %}
						{% if section.settings.bg_image.width >= 3000 %}{{ section.settings.bg_image | image_url: width: 3000 }} 3000w,{% endif %}
						{% if section.settings.bg_image.width >= 3840 %}{{ section.settings.bg_image | image_url: width: 3840 }} 3840w,{% endif %}
						{{ section.settings.bg_image | image_url }} {{ section.settings.bg_image.width }}w
					"
					sizes="100vw"
				>

				<img
					src="{{ section.settings.bg_image | image_url }}"
					alt="{{ section.settings.bg_image.alt | escape }}"
					width="{{ section.settings.bg_image.width }}"
					height="{{ section.settings.bg_image.height }}"
					loading="lazy"
					data-img-loading
					onload="this.removeAttribute(&#34;data-img-loading&#34;)"
				>
			</picture>
		</div>
	{% endif %}

	<div class="container section-wrapper__body">
		<div class="content content--align--{{ section.settings.text_align }} content--spacing--lg content--compact-text">
			{% for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'heading' -%}
						{%- if block.settings.heading_text != blank %}
							<div class="content__heading" {{ block.shopify_attributes }}>
								{% capture heading_capture %}
									<h2 class="heading heading--size--{{ block.settings.heading_size }}">
										{{ block.settings.heading_text }}
									</h2>
								{% endcapture %}
								{% if block.settings.heading_animation %}
									<div
										class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--{{ section.settings.text_align }} {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
										style=""
									>
										{{ heading_capture }}
									</div>
								{% else -%}
									{{- heading_capture -}}
								{%- endif %}
							</div>
						{% endif -%}
					{%- when 'subheading' -%}
						{%- if block.settings.subheading_text != blank %}
							<div class="content__subheading" {{ block.shopify_attributes }}>
								<p class="subheading">
									{{ block.settings.subheading_text }}
								</p>
							</div>
						{% endif -%}
					{%- when 'description' -%}
						{%- if block.settings.text_content != blank %}
							<div class="content__text" {{ block.shopify_attributes }}>
								<div class="rte {% if block.settings.enlarge_text %}rte--enlarged{% endif %}">
									{{ block.settings.text_content }}
								</div>
							</div>
						{% endif -%}
					{%- when 'button' -%}
						{%- if block.settings.button_label != blank %}
							<div class="content__button" {{ block.shopify_attributes }}>
								<a
									href="{{ block.settings.button_link }}"
									style=""
									class="button button--variant--{{ block.settings.button_variant }} button--size--{{ block.settings.button_size }}"
								>
									{{ block.settings.button_label -}}
									{%- if block.settings.show_arrow %}
										<svg class="button__icon button__arrow-icon">
											<use  xlink:href="#svg-icon-arrow-right"></use>
										</svg>
									{% endif %}
								</a>
							</div>
						{% endif -%}
					{%- when 'countdown' -%}
						{%- if block.settings.time != blank %}
							<div {{ block.shopify_attributes }}>
								{% assign target = block.settings.time | date: '%s' -%}
								{%- assign now = 'now' | date: '%s' -%}
								{%- assign diff = target | minus: now %}

								{% if diff > 0 -%}
									<x-countdown class="countdown countdown--align--{{ section.settings.text_align }}" time="{{ diff }}">
										<div class="countdown__part">
											<div class="countdown__value countdown__value--days"></div>
											<div class="countdown__title">{{ 'general.time_parts.days' | t }}</div>
										</div>
										<div class="countdown__part">
											<div class="countdown__value countdown__value--hours"></div>
											<div class="countdown__title">{{ 'general.time_parts.hours' | t }}</div>
										</div>
										<div class="countdown__part">
											<div class="countdown__value countdown__value--minutes"></div>
											<div class="countdown__title">{{ 'general.time_parts.minutes' | t }}</div>
										</div>
										<div class="countdown__part">
											<div class="countdown__value countdown__value--seconds"></div>
											<div class="countdown__title">{{ 'general.time_parts.seconds' | t }}</div>
										</div>
									</x-countdown>
								{%- endif %}
								<script type="module" src="{{ 'component-countdown.js' | asset_url }}"></script>
							</div>
						{% endif -%}
				{%- endcase -%}
			{%- endfor %}
		</div>
	</div>
</div>
{% endif %}

{% schema %}
	{
		"name": "Rich text",
		"class": "rich-text-section",
		"presets": [
			{
				"name": "Rich text",
				"blocks": [
					{
						"type": "heading"
					},
					{
						"type": "description"
					},
					{
						"type": "button"
					}
				],
				"category": "Store information"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "custom.overlay"]
		},
		"settings": [
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme"
			},
			{
				"type": "text_alignment",
				"id": "text_align",
				"label": "Text alignment",
				"default": "center"
			},
			{
				"type": "header",
				"content": "Background image",
				"info": "Optional"
			},
			{
				"type": "image_picker",
				"id": "bg_image",
				"label": "Image"
			},
			{
				"type": "range",
				"id": "image_overlay",
				"label": "Overlay",
				"min": 0,
				"max": 100,
				"step": 1,
				"default": 30,
				"unit": "%"
			},
			{
				"type": "checkbox",
				"id": "blur_image",
				"label": "Blur image",
				"default": false
			}
		],
		"blocks": [
			{
				"name": "Countdown",
				"type": "countdown",
				"settings": [
					{
						"type": "text",
						"id": "time",
						"label": "Time",
						"info": "E.g. dd-mm-yyyy format. Compatible with metafields 'date' type",
						"default": "31-12-2025"
					}
				]
			},
			{
				"name": "Subheading",
				"type": "subheading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading",
						"default": "Subheading"
					}
				]
			},
			{
				"name": "Heading",
				"type": "heading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "heading_text",
						"label": "Text",
						"default": "Rich text"
					},
					{
						"type": "checkbox",
						"id": "heading_animation",
						"label": "Use animation",
						"default": true
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h2",
								"label": "Small"
							},
							{
								"value": "h1",
								"label": "Medium"
							},
							{
								"value": "d3",
								"label": "Large"
							}
						],
						"default": "h1"
					}
				]
			},
			{
				"name": "Text",
				"type": "description",
				"settings": [
					{
						"type": "richtext",
						"id": "text_content",
						"label": "Text",
						"default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
					},
					{
						"type": "checkbox",
						"id": "enlarge_text",
						"label": "Enlarge",
						"default": false
					}
				]
			},
			{
				"name": "Button",
				"type": "button",
				"settings": [
					{
						"type": "text",
						"id": "button_label",
						"label": "Label",
						"default": "Button label"
					},
					{
						"type": "select",
						"id": "button_variant",
						"label": "Style",
						"options": [
							{
								"value": "fill",
								"label": "Solid"
							},
							{
								"value": "outline",
								"label": "Outline"
							},
							{
								"value": "link",
								"label": "Link"
							}
						],
						"default": "outline"
					},
					{
						"type": "checkbox",
						"id": "show_arrow",
						"label": "Show arrow"
					},
					{
						"type": "select",
						"id": "button_size",
						"label": "Size",
						"options": [
							{
								"value": "sm",
								"label": "Small"
							},
							{
								"value": "md",
								"label": "Medium"
							},
							{
								"value": "lg",
								"label": "Large"
							}
						],
						"default": "md"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Link"
					}
				]
			}
		]
	}
{% endschema %}
