{% capture capture_clip %}
	{{ 'component-scrolling-slideshow.css' | asset_url | stylesheet_tag }}
	<x-scrolling-slideshow class="scrolling-slideshow">
		<div class="scrolling-slideshow__stage">
			<div class="scrolling-slideshow__stage-inner">
				{% for block in section.blocks -%}
					{%- assign block_video = blank -%}
					{%- assign block_image = blank -%}
					{%- assign block_mobile_image = blank -%}
					{%- if block.type == 'image' -%}
						{%- assign block_image = block.settings.image -%}
						{%- assign block_mobile_image = block.settings.mobile_image -%}
					{%- elsif block.type == 'video' -%}
						{%- assign block_video = block.settings.video -%}
					{%- endif %}
					<div class="scrolling-slideshow__bg" style="--scrolling-slideshow-bg-index: {{ forloop.index0 }};">
						<div
							class="banner banner--size--full color-scheme-{{ block.settings.color_scheme.id }} banner--bg"
							style="--banner-overlay: {{ block.settings.image_overlay | times: 0.01 }};--banner-focal: {{ block_image.presentation.focal_point }};"
						>
							<div class="banner__overlay"></div>

							{% if block_video != blank -%}
								<x-bg-video class="bg-video">
									<video
										class="banner__video"
										loop
										muted
										preload="none"
										width="{{ block_video.sources.first.width }}"
										height="{{ block_video.sources.first.height }}"
										data-bg-video-element="video"
									>
										{% for source in block_video.sources %}
											<source src="{{ source.url }}" type="{{ source.mime_type }}">
										{% endfor %}
									</video>
								</x-bg-video>
								<script type="module" src="{{ 'component-bg-video.js' | asset_url }}"></script>
							{% endif %}
							{% if block_image != blank %}
								<picture class="banner__image">
									{% if block_mobile_image != blank %}
										<source
											srcset="
												{% if block_image.width >= 1500 %}{{ block_image | image_url: width: 1500 }} 1500w,{% endif %}
												{% if block_image.width >= 1780 %}{{ block_image | image_url: width: 1780 }} 1780w,{% endif %}
												{% if block_image.width >= 2000 %}{{ block_image | image_url: width: 2000 }} 2000w,{% endif %}
												{% if block_image.width >= 3000 %}{{ block_image | image_url: width: 3000 }} 3000w,{% endif %}
												{% if block_image.width >= 3840 %}{{ block_image | image_url: width: 3840 }} 3840w,{% endif %}
												{{ block_image | image_url }} {{ block_image.width }}w
											"
											sizes="100vw"
											media="(min-width: 992px)"
										>
										<source
											srcset="
												{% if block_mobile_image.width >= 375 %}{{ block_mobile_image | image_url: width: 375 }} 375w,{% endif %}
												{% if block_mobile_image.width >= 550 %}{{ block_mobile_image | image_url: width: 550 }} 550w,{% endif %}
												{% if block_mobile_image.width >= 750 %}{{ block_mobile_image | image_url: width: 750 }} 750w,{% endif %}
												{% if block_mobile_image.width >= 1100 %}{{ block_mobile_image | image_url: width: 1100 }} 1100w,{% endif %}
												{% if block_mobile_image.width >= 1500 %}{{ block_mobile_image | image_url: width: 1500 }} 1500w,{% endif %}
												{{ block_mobile_image | image_url }} {{ block_mobile_image.width }}w
											"
											sizes="100vw"
											media="(max-width: 992px)"
											width="{{ block_mobile_image.width }}"
											hidden="{{ block_mobile_image.height }}"
										>
									{% else %}
										<source
											srcset="
												{% if block_image.width >= 375 %}{{ block_image | image_url: width: 375 }} 375w,{% endif %}
												{% if block_image.width >= 550 %}{{ block_image | image_url: width: 550 }} 550w,{% endif %}
												{% if block_image.width >= 750 %}{{ block_image | image_url: width: 750 }} 750w,{% endif %}
												{% if block_image.width >= 1100 %}{{ block_image | image_url: width: 1100 }} 1100w,{% endif %}
												{% if block_image.width >= 1500 %}{{ block_image | image_url: width: 1500 }} 1500w,{% endif %}
												{% if block_image.width >= 1780 %}{{ block_image | image_url: width: 1780 }} 1780w,{% endif %}
												{% if block_image.width >= 2000 %}{{ block_image | image_url: width: 2000 }} 2000w,{% endif %}
												{% if block_image.width >= 3000 %}{{ block_image | image_url: width: 3000 }} 3000w,{% endif %}
												{% if block_image.width >= 3840 %}{{ block_image | image_url: width: 3840 }} 3840w,{% endif %}
												{{ block_image | image_url }} {{ block_image.width }}w
											"
											sizes="100vw"
										>
									{% endif %}

									<img
										src="{{ block_image | image_url }}"
										alt="{{ block_image.alt | escape }}"
										width="{{ block_image.width }}"
										height="{{ block_image.height }}"
										loading="lazy"
										data-img-loading
										onload="this.removeAttribute(&#34;data-img-loading&#34;)"
									>
								</picture>
							{%- endif %}

							{% if block_video == blank and block_image == blank %}
								{{
									forloop.index0
									| modulo: 2
									| plus: 1
									| prepend: '-'
									| prepend: 'lifestyle'
									| placeholder_svg_tag: 'banner__placeholder'
								-}}
							{%- endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="scrolling-slideshow__body">
			{% for block in section.blocks %}
				<div
					class="scrolling-slideshow__content"
					data-scroll-slide="{{ forloop.index0 }}"
					{{ block.shopify_attributes }}
				>
					<div
						class="placer placer--position--{{ block.settings.content_position }} placer--abs placer--container placer--offset--x-large"
						style=""
					>
						<div class="container placer__container">
							<div class="placer__target">
								<div class="content content--align--{{ block.settings.text_align }} content--compact content--spacing--lg color-scheme-{{ block.settings.color_scheme.id }}">
									{% if block.settings.subheading_text != blank %}
										<div class="content__subheading">
											<p class="subheading">
												{{ block.settings.subheading_text }}
											</p>
										</div>
									{% endif -%}
									{%- if block.settings.heading_text != blank %}
										<div class="content__heading">
											{% capture heading_capture %}
												<h2 class="heading heading--size--{{ block.settings.heading_size }}">
													{{ block.settings.heading_text }}
												</h2>
											{% endcapture %}
											{% if section.settings.heading_animation %}
												<div
													class="scroll-animation scroll-animation--use--text-reveal scroll-animation--origin-align--{{ block.settings.text_align }} {% unless settings.appearance_animate_heading_on_mobile %}scroll-animation--only-desktop-animation{% endunless %}"
													style=""
												>
													{{ heading_capture }}
												</div>
											{% else -%}
												{{- heading_capture -}}
											{%- endif %}
										</div>
									{% endif -%}
									{%- if block.settings.text_content != blank %}
										<div class="content__text">
											<p class="text text--size--md">{{ block.settings.text_content }}</p>
										</div>
									{% endif -%}
									{%- if block.settings.button_label != blank %}
										<div class="content__button">
											<a
												href="{{ block.settings.button_link }}"
												style=""
												class="button button--variant--{{ block.settings.button_variant }}"
											>
												{{ block.settings.button_label }}
											</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</x-scrolling-slideshow>
	<script type="module" src="{{ 'component-scrolling-slideshow.js' | asset_url }}"></script>
{% endcapture %}
{% if section.settings.scroll_clip %}
	<div
		class="scroll-animation scroll-animation--use--{% if section.index0 == 0 %}clip-out{% else %}clip-in{% endif %}"
		style=""
	>
		{{ capture_clip }}
	</div>
{% else -%}
	{{- capture_clip -}}
{%- endif %}

{% schema %}
	{
		"name": "Scrolling hero images",
		"class": "header-overlap-section scrolling-hero-images-section",
		"presets": [
			{
				"name": "Scrolling hero images",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				],
				"category": "Banners"
			}
		],
		"disabled_on": {
			"templates": ["password"],
			"groups": ["header", "custom.overlay"]
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "heading_animation",
				"label": "Use heading animation",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "scroll_clip",
				"label": "Enable clip effect on scroll"
			}
		],
		"blocks": [
			{
				"name": "Image",
				"type": "image",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "image_picker",
						"id": "mobile_image",
						"label": "Mobile image (optional)"
					},
					{
						"type": "range",
						"id": "image_overlay",
						"label": "Overlay",
						"min": 0,
						"max": 100,
						"step": 1,
						"default": 0,
						"unit": "%"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Image Slide"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Heading size",
						"options": [
							{
								"value": "h2",
								"label": "Small"
							},
							{
								"value": "h1",
								"label": "Medium"
							},
							{
								"value": "d3",
								"label": "Large"
							}
						],
						"default": "h1"
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text",
						"default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
					},
					{
						"type": "text",
						"id": "button_label",
						"label": "Button label",
						"default": "Button label"
					},
					{
						"type": "select",
						"id": "button_variant",
						"label": "Button style",
						"options": [
							{
								"value": "fill",
								"label": "Solid"
							},
							{
								"value": "outline",
								"label": "Outline"
							},
							{
								"value": "link",
								"label": "Link"
							}
						],
						"default": "outline"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Button link"
					},
					{
						"type": "select",
						"id": "content_position",
						"label": "Content position",
						"options": [
							{
								"value": "top-left",
								"label": "Top left"
							},
							{
								"value": "top-center",
								"label": "Top center"
							},
							{
								"value": "top-right",
								"label": "Top right"
							},
							{
								"value": "middle-left",
								"label": "Middle left"
							},
							{
								"value": "middle-center",
								"label": "Middle center"
							},
							{
								"value": "middle-right",
								"label": "Middle right"
							},
							{
								"value": "bottom-left",
								"label": "Bottom left"
							},
							{
								"value": "bottom-center",
								"label": "Bottom center"
							},
							{
								"value": "bottom-right",
								"label": "Bottom right"
							}
						],
						"default": "middle-left"
					},
					{
						"type": "text_alignment",
						"id": "text_align",
						"label": "Text alignment",
						"default": "left"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "invert"
					}
				]
			},
			{
				"name": "Video",
				"type": "video",
				"settings": [
					{
						"type": "video",
						"id": "video",
						"label": "Video"
					},
					{
						"type": "range",
						"id": "image_overlay",
						"label": "Overlay",
						"min": 0,
						"max": 100,
						"step": 1,
						"default": 0,
						"unit": "%"
					},
					{
						"type": "text",
						"id": "subheading_text",
						"label": "Subheading"
					},
					{
						"type": "text",
						"id": "heading_text",
						"label": "Heading",
						"default": "Video Slide"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Heading size",
						"options": [
							{
								"value": "h2",
								"label": "Small"
							},
							{
								"value": "h1",
								"label": "Medium"
							},
							{
								"value": "d3",
								"label": "Large"
							}
						],
						"default": "h1"
					},
					{
						"type": "inline_richtext",
						"id": "text_content",
						"label": "Text",
						"default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
					},
					{
						"type": "text",
						"id": "button_label",
						"label": "Button label",
						"default": "Button label"
					},
					{
						"type": "select",
						"id": "button_variant",
						"label": "Button style",
						"options": [
							{
								"value": "fill",
								"label": "Solid"
							},
							{
								"value": "outline",
								"label": "Outline"
							},
							{
								"value": "link",
								"label": "Link"
							}
						],
						"default": "outline"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Button link"
					},
					{
						"type": "select",
						"id": "content_position",
						"label": "Content position",
						"options": [
							{
								"value": "top-left",
								"label": "Top left"
							},
							{
								"value": "top-center",
								"label": "Top center"
							},
							{
								"value": "top-right",
								"label": "Top right"
							},
							{
								"value": "middle-left",
								"label": "Middle left"
							},
							{
								"value": "middle-center",
								"label": "Middle center"
							},
							{
								"value": "middle-right",
								"label": "Middle right"
							},
							{
								"value": "bottom-left",
								"label": "Bottom left"
							},
							{
								"value": "bottom-center",
								"label": "Bottom center"
							},
							{
								"value": "bottom-right",
								"label": "Bottom right"
							}
						],
						"default": "middle-left"
					},
					{
						"type": "text_alignment",
						"id": "text_align",
						"label": "Text alignment",
						"default": "left"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"label": "Color scheme",
						"default": "invert"
					}
				]
			}
		]
	}
{% endschema %}
